@charset "UTF-8";
/*!
 *   sf-parc
 *   Author: Antoine Bouët
 *   Version: 1.0.0
 */
.bg-primary {
  background-color: #343a40 !important; }

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #1d2124 !important; }

.bg-secondary {
  background-color: #3f5872 !important; }

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #2d3f51 !important; }

.bg-success {
  background-color: #82b965 !important; }

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #68a249 !important; }

.bg-info {
  background-color: #3498db !important; }

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #217dbb !important; }

.bg-warning {
  background-color: #ffb606 !important; }

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d29400 !important; }

.bg-danger {
  background-color: #e01d1e !important; }

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #b31718 !important; }

.bg-light {
  background-color: #f8f9fa !important; }

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important; }

.bg-dark {
  background-color: #343a40 !important; }

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important; }

.bg-gradient-primary {
  background: #343a40 linear-gradient(180deg, #50565b, #343a40) repeat-x !important; }

.bg-gradient-secondary {
  background: #3f5872 linear-gradient(180deg, #5a6f86, #3f5872) repeat-x !important; }

.bg-gradient-success {
  background: #82b965 linear-gradient(180deg, #93c27b, #82b965) repeat-x !important; }

.bg-gradient-info {
  background: #3498db linear-gradient(180deg, #50a6df, #3498db) repeat-x !important; }

.bg-gradient-warning {
  background: #ffb606 linear-gradient(180deg, #fdbf2a, #ffb606) repeat-x !important; }

.bg-gradient-danger {
  background: #e01d1e linear-gradient(180deg, #e33d3e, #e01d1e) repeat-x !important; }

.bg-gradient-light {
  background: #f8f9fa linear-gradient(180deg, #f7f8f9, #f8f9fa) repeat-x !important; }

.bg-gradient-dark {
  background: #343a40 linear-gradient(180deg, #50565b, #343a40) repeat-x !important; }

.bg-white {
  background-color: #fff !important; }

.bg-transparent {
  background-color: transparent !important; }

/* Cards */
.card {
  font-size: 1rem;
  margin-bottom: 25px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  /* style de carte */
  /* Elements de la carte */ }
  .card input, .card textarea {
    width: 100%; }
  .card a:not(.btn) {
    color: #212529; }
    .card a:not(.btn):hover {
      color: black; }
  .card > .card-header {
    position: relative;
    padding: 0.1875rem 0.3125rem;
    margin-bottom: 0;
    text-transform: uppercase;
    transition: all .3s;
    color: #343a40; }
    .card > .card-header .card-tools {
      position: relative;
      display: inline-block;
      list-style: none;
      float: right;
      margin: 0;
      padding: 0; }
      .card > .card-header .card-tools a {
        margin-left: 5px;
        cursor: pointer;
        color: #adb5bd; }
        .card > .card-header .card-tools a::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          padding-right: 5px;
          font-size: 1.2rem !important;
          line-height: 1; }
        .card > .card-header .card-tools a.close::before {
          content: "\f00d"; }
        .card > .card-header .card-tools a.resize::before {
          content: "\f0d8"; }
    .card > .card-header .clip-header {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 8px;
      background: #f8f9fa;
      padding: 4px 5px; }
      .card > .card-header .clip-header i, .card > .card-header .clip-header svg {
        display: inline-block;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .card > .card-header .clip-header svg {
        height: 14px;
        width: 14px; }
    .card > .card-header svg, .card > .card-header .icon {
      height: 1rem;
      width: 1rem; }
    .card > .card-header .icon {
      margin-right: 5px; }
  .card > .card-body.full-width {
    padding: 0; }
  .card > .card-body > div {
    padding: 0;
    margin: 0; }
  .card > .card-footer {
    font-size: .7em;
    background: #f8f9fa;
    padding: 2px 5px;
    list-style: none;
    color: #6c757d; }
    .card > .card-footer * {
      margin: 0; }
    .card > .card-footer svg, .card > .card-footer .icon {
      height: 0.7rem;
      width: 0.7rem; }
    .card > .card-footer ul {
      padding: 0;
      margin: 0;
      list-style: none;
      color: #6c757d;
      font-family: 'Open Sans Condensed', sans-serif;
      letter-spacing: 0.2em; }
  .card > .card-section {
    position: relative;
    padding: 5px;
    color: #f8f9fa; }
    .card > .card-section > header {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 10;
      padding: 2px 15px;
      background-color: rgba(0, 0, 0, 0.5); }
    .card > .card-section > footer {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      border-top: none;
      font-size: .7em;
      padding: 2px 15px;
      background-color: rgba(0, 0, 0, 0.5); }
      .card > .card-section > footer * {
        margin: 0; }
      .card > .card-section > footer svg, .card > .card-section > footer .icon {
        height: 0.7rem;
        width: 0.7rem; }
  .card.collapsed .card-header {
    padding: 0.375rem 0.625rem;
    position: relative;
    border: none; }
    .card.collapsed .card-header .card-tools a.resize::before {
      content: "\f0d7"; }
  .card.collapsed .card-body {
    display: none; }
  .card.collapsed .card-footer {
    display: none; }
  .card.light .card-header {
    border: none;
    font-weight: initial;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #fff; }
  .card.light .card-body {
    overflow: hidden;
    overflow-y: auto; }
  .card.light .card-footer {
    border: none;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .card.info {
    flex-direction: row;
    background: #fff; }
    .card.info .card-body {
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      overflow-y: auto; }
      .card.info .card-body .list-group-item {
        padding: 0; }
    .card.info .card-text {
      font-family: 'Source Sans Pro', sans-serif; }
    .card.info .card-icon {
      position: relative;
      display: block;
      float: left;
      padding: 15px;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      text-align: center; }
      .card.info .card-icon svg, .card.info .card-icon i {
        height: 60px;
        width: 60px; }
    @media (max-width: 991.98px) {
      .card.info {
        max-width: 100%; } }
  .card .card-body-icon {
    position: absolute;
    z-index: 0;
    top: 1rem;
    right: 1rem;
    opacity: 0.2;
    font-size: 6rem;
    transform: rotate(15deg); }
  .card .card-img-overlay {
    position: absolute;
    top: initial;
    text-align: center;
    z-index: 10;
    padding: 20px 0 !important; }
    .card .card-img-overlay .card-title {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      text-shadow: 2px 2px #343a40;
      letter-spacing: 5px; }
    .card .card-img-overlay .card-subtitle {
      color: #6c757d;
      font-family: 'Open Sans Condensed', sans-serif;
      letter-spacing: 0.2em;
      letter-spacing: 0.55em;
      color: #fff; }
  .card .card-img {
    overflow: hidden; }
    .card .card-img:hover img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5 ease-out; }
  .card .card-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
  .card .card-icon.bg-blue {
    background-color: #3498db;
    color: #fff; }
  .card .card-icon.bg-indigo {
    background-color: #6610f2;
    color: #fff; }
  .card .card-icon.bg-purple {
    background-color: #9b59b6;
    color: #fff; }
  .card .card-icon.bg-pink {
    background-color: #e83e8c;
    color: #fff; }
  .card .card-icon.bg-red {
    background-color: #e01d1e;
    color: #fff; }
  .card .card-icon.bg-orange {
    background-color: #e67e22;
    color: #fff; }
  .card .card-icon.bg-yellow {
    background-color: #ffb606;
    color: #fff; }
  .card .card-icon.bg-green {
    background-color: #82b965;
    color: #fff; }
  .card .card-icon.bg-teal {
    background-color: #20c997;
    color: #fff; }
  .card .card-icon.bg-cyan {
    background-color: #17a2b8;
    color: #fff; }
  .card .card-icon.bg-white {
    background-color: #fff;
    color: #fff; }
  .card .card-icon.bg-gray {
    background-color: #6c757d;
    color: #fff; }
  .card .card-icon.bg-gray-dark {
    background-color: #343a40;
    color: #fff; }
  .card .card-figure {
    display: block;
    font-weight: bold;
    font-size: 18px; }
  .card .card-caption {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Open Sans Condensed', sans-serif; }
  .card .card-subtitle {
    color: #6c757d;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.2em; }
  .card.card-border-top > *, .card.card-border-left > * {
    background-color: #fff !important; }
  .card.card-border-top, .card.card-border-top .card-section {
    border-top-width: 3px !important;
    border-top-color: transparent; }
  .card.card-border-left, .card.card-border-left .card-section {
    border-left-width: 3px !important;
    border-left-color: transparent; }
  .card.card-border-top.primary, .card.card-border-top.primary .card-section {
    border-top-color: #343a40 !important; }
  .card.card-border-left.primary, .card.card-border-left.primary .card-section {
    border-left-color: #343a40 !important; }
  .card hr {
    color: #343a40; }
  .card.card-border-top.secondary, .card.card-border-top.secondary .card-section {
    border-top-color: #3f5872 !important; }
  .card.card-border-left.secondary, .card.card-border-left.secondary .card-section {
    border-left-color: #3f5872 !important; }
  .card hr {
    color: #3f5872; }
  .card.card-border-top.blue, .card.card-border-top.blue .card-section {
    border-top-color: #3498db !important; }
  .card.card-border-left.blue, .card.card-border-left.blue .card-section {
    border-left-color: #3498db !important; }
  .card hr {
    color: #3498db; }
  .card.card-border-top.indigo, .card.card-border-top.indigo .card-section {
    border-top-color: #6610f2 !important; }
  .card.card-border-left.indigo, .card.card-border-left.indigo .card-section {
    border-left-color: #6610f2 !important; }
  .card hr {
    color: #6610f2; }
  .card.card-border-top.purple, .card.card-border-top.purple .card-section {
    border-top-color: #9b59b6 !important; }
  .card.card-border-left.purple, .card.card-border-left.purple .card-section {
    border-left-color: #9b59b6 !important; }
  .card hr {
    color: #9b59b6; }
  .card.card-border-top.pink, .card.card-border-top.pink .card-section {
    border-top-color: #e83e8c !important; }
  .card.card-border-left.pink, .card.card-border-left.pink .card-section {
    border-left-color: #e83e8c !important; }
  .card hr {
    color: #e83e8c; }
  .card.card-border-top.red, .card.card-border-top.red .card-section {
    border-top-color: #e01d1e !important; }
  .card.card-border-left.red, .card.card-border-left.red .card-section {
    border-left-color: #e01d1e !important; }
  .card hr {
    color: #e01d1e; }
  .card.card-border-top.orange, .card.card-border-top.orange .card-section {
    border-top-color: #e67e22 !important; }
  .card.card-border-left.orange, .card.card-border-left.orange .card-section {
    border-left-color: #e67e22 !important; }
  .card hr {
    color: #e67e22; }
  .card.card-border-top.yellow, .card.card-border-top.yellow .card-section {
    border-top-color: #ffb606 !important; }
  .card.card-border-left.yellow, .card.card-border-left.yellow .card-section {
    border-left-color: #ffb606 !important; }
  .card hr {
    color: #ffb606; }
  .card.card-border-top.green, .card.card-border-top.green .card-section {
    border-top-color: #82b965 !important; }
  .card.card-border-left.green, .card.card-border-left.green .card-section {
    border-left-color: #82b965 !important; }
  .card hr {
    color: #82b965; }
  .card.card-border-top.teal, .card.card-border-top.teal .card-section {
    border-top-color: #20c997 !important; }
  .card.card-border-left.teal, .card.card-border-left.teal .card-section {
    border-left-color: #20c997 !important; }
  .card hr {
    color: #20c997; }
  .card.card-border-top.cyan, .card.card-border-top.cyan .card-section {
    border-top-color: #17a2b8 !important; }
  .card.card-border-left.cyan, .card.card-border-left.cyan .card-section {
    border-left-color: #17a2b8 !important; }
  .card hr {
    color: #17a2b8; }
  .card.card-border-top.white, .card.card-border-top.white .card-section {
    border-top-color: #fff !important; }
  .card.card-border-left.white, .card.card-border-left.white .card-section {
    border-left-color: #fff !important; }
  .card hr {
    color: #fff; }
  .card.card-border-top.gray, .card.card-border-top.gray .card-section {
    border-top-color: #6c757d !important; }
  .card.card-border-left.gray, .card.card-border-left.gray .card-section {
    border-left-color: #6c757d !important; }
  .card hr {
    color: #6c757d; }
  .card.card-border-top.gray-dark, .card.card-border-top.gray-dark .card-section {
    border-top-color: #343a40 !important; }
  .card.card-border-left.gray-dark, .card.card-border-left.gray-dark .card-section {
    border-left-color: #343a40 !important; }
  .card hr {
    color: #343a40; }
  .card.bg-transparent .card-body {
    background-color: transparent;
    color: #fff;
    border: none; }
  .card.bg-blue .card-body {
    background-color: #3498db;
    color: #fff;
    border: none; }
  .card.bg-blue .card-icon {
    background-color: #217dbb;
    color: #fff; }
  .card.bg-blue .card-footer {
    background-color: #2791d9;
    color: #fff; }
    .card.bg-blue .card-footer a {
      color: #fff; }
  .card.bg-indigo .card-body {
    background-color: #6610f2;
    color: #fff;
    border: none; }
  .card.bg-indigo .card-icon {
    background-color: #510bc4;
    color: #fff; }
  .card.bg-indigo .card-footer {
    background-color: #5f0de6;
    color: #fff; }
    .card.bg-indigo .card-footer a {
      color: #fff; }
  .card.bg-purple .card-body {
    background-color: #9b59b6;
    color: #fff;
    border: none; }
  .card.bg-purple .card-icon {
    background-color: #804399;
    color: #fff; }
  .card.bg-purple .card-footer {
    background-color: #954eb1;
    color: #fff; }
    .card.bg-purple .card-footer a {
      color: #fff; }
  .card.bg-pink .card-body {
    background-color: #e83e8c;
    color: #fff;
    border: none; }
  .card.bg-pink .card-icon {
    background-color: #d91a72;
    color: #fff; }
  .card.bg-pink .card-footer {
    background-color: #e63084;
    color: #fff; }
    .card.bg-pink .card-footer a {
      color: #fff; }
  .card.bg-red .card-body {
    background-color: #e01d1e;
    color: #fff;
    border: none; }
  .card.bg-red .card-icon {
    background-color: #b31718;
    color: #fff; }
  .card.bg-red .card-footer {
    background-color: #d21b1c;
    color: #fff; }
    .card.bg-red .card-footer a {
      color: #fff; }
  .card.bg-orange .card-body {
    background-color: #e67e22;
    color: #fff;
    border: none; }
  .card.bg-orange .card-icon {
    background-color: #bf6516;
    color: #fff; }
  .card.bg-orange .card-footer {
    background-color: #df7619;
    color: #fff; }
    .card.bg-orange .card-footer a {
      color: #fff; }
  .card.bg-yellow .card-body {
    background-color: #ffb606;
    color: #fff;
    border: none; }
  .card.bg-yellow .card-icon {
    background-color: #d29400;
    color: #fff; }
  .card.bg-yellow .card-footer {
    background-color: #f6ae00;
    color: #fff; }
    .card.bg-yellow .card-footer a {
      color: #fff; }
  .card.bg-green .card-body {
    background-color: #82b965;
    color: #fff;
    border: none; }
  .card.bg-green .card-icon {
    background-color: #68a249;
    color: #fff; }
  .card.bg-green .card-footer {
    background-color: #79b45a;
    color: #fff; }
    .card.bg-green .card-footer a {
      color: #fff; }
  .card.bg-teal .card-body {
    background-color: #20c997;
    color: #fff;
    border: none; }
  .card.bg-teal .card-icon {
    background-color: #199d76;
    color: #fff; }
  .card.bg-teal .card-footer {
    background-color: #1ebc8d;
    color: #fff; }
    .card.bg-teal .card-footer a {
      color: #fff; }
  .card.bg-cyan .card-body {
    background-color: #17a2b8;
    color: #fff;
    border: none; }
  .card.bg-cyan .card-icon {
    background-color: #117a8b;
    color: #fff; }
  .card.bg-cyan .card-footer {
    background-color: #1596aa;
    color: #fff; }
    .card.bg-cyan .card-footer a {
      color: #fff; }
  .card.bg-white .card-body {
    background-color: #fff;
    color: #fff;
    border: none; }
  .card.bg-white .card-icon {
    background-color: #e6e6e6;
    color: #fff; }
  .card.bg-white .card-footer {
    background-color: #f7f7f7;
    color: #fff; }
    .card.bg-white .card-footer a {
      color: #fff; }
  .card.bg-gray .card-body {
    background-color: #6c757d;
    color: #fff;
    border: none; }
  .card.bg-gray .card-icon {
    background-color: #545b62;
    color: #fff; }
  .card.bg-gray .card-footer {
    background-color: #656d75;
    color: #fff; }
    .card.bg-gray .card-footer a {
      color: #fff; }
  .card.bg-gray-dark .card-body {
    background-color: #343a40;
    color: #fff;
    border: none; }
  .card.bg-gray-dark .card-icon {
    background-color: #1d2124;
    color: #fff; }
  .card.bg-gray-dark .card-footer {
    background-color: #2d3238;
    color: #fff; }
    .card.bg-gray-dark .card-footer a {
      color: #fff; }

.card-flip {
  /*    -webkit-transition: 1s;
      -webkit-transform-style: preserve-3d;
      -ms-transition: 1s;
      -moz-transition: 1s;
      -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transition: 1s;
      transform-style: preserve-3d;
      height: 310px;*/ }
  .card-flip .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative; }
  .card-flip .card-body {
    overflow: hidden;
    overflow-y: auto; }
  .card-flip .frontside, .card-flip .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%; }
  .card-flip .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2; }
  .card-flip .backside {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .card-flip .flip-image .frontside, .card-flip.flip-hover:hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .card-flip .flip-image .backside, .card-flip.flip-hover:hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg); }

.list-footer {
  padding: 10px 15px; }
  .list-footer .list-footer-item {
    border-right: 1px solid #96a0aa; }
    .list-footer .list-footer-item:last-child {
      border: none; }

.footer-stat {
  padding: 8px 0;
  text-align: center; }
  .footer-stat span {
    font-size: 10px;
    font-weight: 500;
    display: block;
    color: #9d9fa2;
    text-transform: uppercase; }

label, legend {
  font-family: "Open Sans Condensed", sans-serif; }

label {
  font-size: 1rem; }

fieldset {
  border: 1px solid #96a0aa !important;
  padding: 15px; }
  fieldset legend {
    font-size: inherit;
    width: auto;
    font-size: inherit;
    padding: 5px;
    margin: 0;
    margin-left: 15px; }

form {
  position: relative; }
  form .notification {
    position: absolute;
    top: -40px;
    padding: 0.75rem 1.25rem; }
  form .notification-primary {
    color: #1b1e21;
    background: #d6d8d9 linear-gradient(180deg, #dadcdd, #d6d8d9) repeat-x;
    border-color: #c6c8ca; }
    form .notification-primary hr {
      border-top-color: #b9bbbe; }
    form .notification-primary .alert-link {
      color: #040505; }
  form .notification-secondary {
    color: #212e3b;
    background: #d9dee3 linear-gradient(180deg, #dde1e6, #d9dee3) repeat-x;
    border-color: #c9d0d8; }
    form .notification-secondary hr {
      border-top-color: #bac3cd; }
    form .notification-secondary .alert-link {
      color: #0f151a; }
  form .notification-success {
    color: #446035;
    background: #e6f1e0 linear-gradient(180deg, #e8f1e3, #e6f1e0) repeat-x;
    border-color: #dcebd4; }
    form .notification-success hr {
      border-top-color: #cee3c3; }
    form .notification-success .alert-link {
      color: #2d3f23; }
  form .notification-info {
    color: #1b4f72;
    background: #d6eaf8 linear-gradient(180deg, #daebf8, #d6eaf8) repeat-x;
    border-color: #c6e2f5; }
    form .notification-info hr {
      border-top-color: #b0d7f1; }
    form .notification-info .alert-link {
      color: #113249; }
  form .notification-warning {
    color: #855f03;
    background: #fff0cd linear-gradient(180deg, #fdf0d3, #fff0cd) repeat-x;
    border-color: #ffebb9; }
    form .notification-warning hr {
      border-top-color: #ffe4a0; }
    form .notification-warning .alert-link {
      color: #533b02; }
  form .notification-danger {
    color: #740f10;
    background: #f9d2d2 linear-gradient(180deg, #f8d7d7, #f9d2d2) repeat-x;
    border-color: #f6c0c0; }
    form .notification-danger hr {
      border-top-color: #f3aaaa; }
    form .notification-danger .alert-link {
      color: #47090a; }
  form .notification-light {
    color: #818182;
    background: #fefefe linear-gradient(180deg, #fcfcfd, #fefefe) repeat-x;
    border-color: #fdfdfe; }
    form .notification-light hr {
      border-top-color: #ececf6; }
    form .notification-light .alert-link {
      color: #686868; }
  form .notification-dark {
    color: #1b1e21;
    background: #d6d8d9 linear-gradient(180deg, #dadcdd, #d6d8d9) repeat-x;
    border-color: #c6c8ca; }
    form .notification-dark hr {
      border-top-color: #b9bbbe; }
    form .notification-dark .alert-link {
      color: #040505; }
  form *[required] {
    background-color: rgba(250, 0, 0, 0.05) !important; }

.form-control.is-warning {
  border-color: #ffb606; }
  .form-control.is-warning:focus {
    border-color: #ffb606;
    box-shadow: 0 0 0 0.2rem rgba(255, 182, 6, 0.25); }

.form-group *[data-toggle=tooltip]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 0.8rem;
  padding-left: 5px;
  content: "\f059"; }

.form-check-toggle {
  font-size: 1.5rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 0; }
  .form-check-toggle label {
    font-size: initial;
    font-weight: initial; }
  .form-check-toggle::before {
    content: "\f204"; }
  .form-check-toggle.btn-color {
    color: #e01d1e; }
  .form-check-toggle.active {
    color: #82b965; }
    .form-check-toggle.active::before {
      content: "\f205"; }
  .form-check-toggle.btn-nocolor::before {
    color: inherit !important; }
  .form-check-toggle input[type="checkbox"] {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    width: 1.5em;
    margin-left: 0;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: #adb5bd !important;
  font-size: 75%; }

.search {
  position: relative;
  color: #6c757d;
  font-size: 16px; }
  .search input {
    text-indent: 32px; }
  .search *:not([type=search]) {
    position: absolute;
    top: 10px;
    left: 10px; }

/* Animation Chargement */
#chargement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  pointer-events: none;
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff; }

.double-bounce {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 40px auto; }
  .double-bounce .bounce-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
    animation: sk-doubleBounce 2s infinite ease-in-out; }
  .double-bounce .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
html, body {
  height: 100%; }

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #f1f3f6;
  color: #212529;
  height: 100vh;
  font-size: 1em;
  overflow-x: hidden;
  overflow-y: auto; }

main {
  height: 100%; }
  main:before, main:after {
    content: " ";
    display: table; }
  main:after {
    clear: both; }
  main > .row {
    height: 100%; }
  main section {
    overflow-y: auto;
    overflow-x: hidden; }
  main .inner-wrapper {
    max-height: 53vh; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a img, a:link img, a:visited img {
    border: none; }

iframe {
  border: none;
  height: 100%;
  width: 100%; }

/*.main-header, .main-footer{
    height: $main-header-height;
}*/
.main-header {
  box-shadow: 0 0.05rem 0.5rem rgba(0, 0, 0, 0.5); }

.main-footer {
  box-shadow: 0 -0.05rem 0.5rem rgba(0, 0, 0, 0.5); }
  .main-footer > * {
    height: 100%; }

main {
  margin-top: 6vh !important;
  margin-bottom: 6vh !important;
  margin-left: 50px !important;
  height: 88vh;
  overflow: hidden;
  overflow-y: auto; }
  main:before, main:after {
    content: " ";
    display: table; }
  main:after {
    clear: both; }
  main > .content {
    height: 100%; }
    main > .content > header, main > .content .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative; }
      main > .content > header .heading, main > .content .content-header .heading {
        margin: 0; }
      main > .content > header .breadcrumb, main > .content .content-header .breadcrumb {
        background: transparent;
        margin: 0;
        padding: 0; }
        @media (max-width: 991.98px) {
          main > .content > header .breadcrumb, main > .content .content-header .breadcrumb {
            margin-top: 5px;
            width: 100%;
            background: #ced4da;
            padding: 7px 5px;
            padding-left: 10px; } }
        main > .content > header .breadcrumb li + li:before, main > .content .content-header .breadcrumb li + li:before {
          padding: 0 5px;
          content: "/\00a0"; }
      @media (min-width: 768px) {
        main > .content > header, main > .content .content-header {
          flex-direction: row; } }
      @media (max-width: 991.98px) {
        main > .content > header, main > .content .content-header {
          flex-direction: column;
          align-items: start; } }
    main > .content > .row > section, main > .content .content-header ~ section {
      padding: 15px; }
    main > .content .inner-wrapper {
      max-height: 53vh;
      overflow-y: auto;
      overflow-x: hidden; }
  main section {
    overflow-y: auto;
    overflow-x: hidden; }

@media (max-width: 991.98px) {
  section > header {
    padding: 5px 0;
    border-top: 1px solid #343a40; } }

.list-group .list-group-header {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold; }
.list-group .list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: transparent; }
  .list-group .list-group-item .custom-control-label {
    padding-left: 1.5rem; }
    .list-group .list-group-item .custom-control-label::before, .list-group .list-group-item .custom-control-label::after {
      left: 0; }
  .list-group .list-group-item > svg, .list-group .list-group-item > img, .list-group .list-group-item .list-item-icon {
    width: 1em !important !important;
    height: 1em !important !important;
    margin-right: 0.5em;
    align-self: center;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff; }
  .list-group .list-group-item:hover, .list-group .list-group-item:focus {
    border-left-color: #2d3f51; }
.list-group.blue > .list-group-item.active {
  background-color: #3498db;
  border-color: #3498db;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.blue > .list-group-item:hover, .list-group.blue > .list-group-item:focus {
  border-left-color: #217dbb; }
.list-group.indigo > .list-group-item.active {
  background-color: #6610f2;
  border-color: #6610f2;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.indigo > .list-group-item:hover, .list-group.indigo > .list-group-item:focus {
  border-left-color: #510bc4; }
.list-group.purple > .list-group-item.active {
  background-color: #9b59b6;
  border-color: #9b59b6;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.purple > .list-group-item:hover, .list-group.purple > .list-group-item:focus {
  border-left-color: #804399; }
.list-group.pink > .list-group-item.active {
  background-color: #e83e8c;
  border-color: #e83e8c;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.pink > .list-group-item:hover, .list-group.pink > .list-group-item:focus {
  border-left-color: #d91a72; }
.list-group.red > .list-group-item.active {
  background-color: #e01d1e;
  border-color: #e01d1e;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.red > .list-group-item:hover, .list-group.red > .list-group-item:focus {
  border-left-color: #b31718; }
.list-group.orange > .list-group-item.active {
  background-color: #e67e22;
  border-color: #e67e22;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.orange > .list-group-item:hover, .list-group.orange > .list-group-item:focus {
  border-left-color: #bf6516; }
.list-group.yellow > .list-group-item.active {
  background-color: #ffb606;
  border-color: #ffb606;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.yellow > .list-group-item:hover, .list-group.yellow > .list-group-item:focus {
  border-left-color: #d29400; }
.list-group.green > .list-group-item.active {
  background-color: #82b965;
  border-color: #82b965;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.green > .list-group-item:hover, .list-group.green > .list-group-item:focus {
  border-left-color: #68a249; }
.list-group.teal > .list-group-item.active {
  background-color: #20c997;
  border-color: #20c997;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.teal > .list-group-item:hover, .list-group.teal > .list-group-item:focus {
  border-left-color: #199d76; }
.list-group.cyan > .list-group-item.active {
  background-color: #17a2b8;
  border-color: #17a2b8;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.cyan > .list-group-item:hover, .list-group.cyan > .list-group-item:focus {
  border-left-color: #117a8b; }
.list-group.white > .list-group-item.active {
  background-color: white;
  border-color: white;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.white > .list-group-item:hover, .list-group.white > .list-group-item:focus {
  border-left-color: #e6e6e6; }
.list-group.gray > .list-group-item.active {
  background-color: #6c757d;
  border-color: #6c757d;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.gray > .list-group-item:hover, .list-group.gray > .list-group-item:focus {
  border-left-color: #545b62; }
.list-group.gray-dark > .list-group-item.active {
  background-color: #343a40;
  border-color: #343a40;
  /*&::after{
      border-left-color: $color;
  }*/ }
.list-group.gray-dark > .list-group-item:hover, .list-group.gray-dark > .list-group-item:focus {
  border-left-color: #1d2124; }

/** ACTIONS **/
.list-action {
  display: flex;
  align-items: center;
  justify-content: end; }
  .list-action.active .list-action-link {
    color: #fff; }
  .list-action .list-action-link {
    text-decoration: none;
    color: #495057;
    font-weight: normal; }
    .list-action .list-action-link.disabled {
      color: #ced4da;
      cursor: not-allowed; }
    .list-action .list-action-link:hover {
      text-decoration: none; }
    .list-action .list-action-link:hover:not(.disabled) {
      color: #6c757d; }
    .list-action .list-action-link:focus:not(.disabled), .list-action .list-action-link:hover:not(.disabled) {
      background-color: transparent; }
    .list-action .list-action-link:not(:disabled):not(.disabled) {
      cursor: pointer; }
    .list-action .list-action-link svg {
      width: 1.2em;
      height: 1.2em;
      padding: .1rem; }

.draggable::before {
  position: absolute;
  width: 10px;
  top: 0;
  content: '';
  cursor: move;
  left: 0;
  height: 30px;
  background: url(../img/handle.png) no-repeat;
  opacity: 0;
  transition: opacity 0.2s ease-out; }

.nav-sidebar {
  flex-direction: column;
  position: fixed;
  z-index: 1030;
  width: 50px !important;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  transform: translate3d(0, 0, 0); }
  .nav-sidebar a {
    text-decoration: none; }
  .nav-sidebar .nav {
    padding-left: 0;
    list-style: none; }
  .nav-sidebar .nav-item {
    width: 100%;
    white-space: nowrap;
    transition: padding 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 0; }
    .nav-sidebar .nav-item > .nav-link {
      padding: 0; }

.sidebar {
  height: 100%;
  width: 100%; }
  .sidebar > .menu > .menu-item {
    position: relative; }
    @media (min-width: 576px) {
      .sidebar > .menu > .menu-item > .menu-link {
        margin-right: 1px; } }
    .sidebar > .menu > .menu-item > .menu-link .menu-icon {
      max-height: 20px;
      max-width: 20px; }
    .sidebar > .menu > .menu-item > .sub-menu {
      display: none;
      font-size: 0.7em; }
      .sidebar > .menu > .menu-item > .sub-menu > .menu-heading, .sidebar > .menu > .menu-item > .sub-menu > .menu-item {
        justify-content: start; }
      .sidebar > .menu > .menu-item > .sub-menu > .menu-heading {
        padding: 0.7rem 1.25rem; }
      .sidebar > .menu > .menu-item > .sub-menu > .menu-item {
        padding: 0.35rem 1.25rem; }
        .sidebar > .menu > .menu-item > .sub-menu > .menu-item > menu-link {
          color: #212529; }
      .sidebar > .menu > .menu-item > .sub-menu .menu-item:not(.menu-heading):last-child {
        padding-bottom: 8px; }
      .sidebar > .menu > .menu-item > .sub-menu .menu-item:not(.menu-heading):nth-child(2) {
        border-top: 1px solid #212529; }
    .sidebar > .menu > .menu-item:hover > .sub-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 50px;
      min-width: 150px;
      margin-top: -1px;
      background-color: #fff;
      box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
      border: 1px solid #eee;
      border-left: 0;
      border-radius: 0 3px 3px 0; }
    .sidebar > .menu > .menu-item:hover > .sub-menu:not(.dropup) {
      top: 0; }
    .sidebar > .menu > .menu-item:hover > .sub-menu.dropup {
      bottom: 0; }
    .sidebar > .menu > .menu-item.active {
      background: rgba(0, 0, 0, 0.04); }
  .sidebar > .menu .menu-link:hover {
    background-color: rgba(0, 0, 0, 0.06); }
  .sidebar > .menu .menu-heading {
    color: inherit;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    padding-left: 1.25rem; }

.sub-menu {
  color: #212529; }

@media (max-width: 991.98px) {
  .menu-icon {
    width: 1.2rem !important;
    height: 1.2rem !important;
    margin-right: 0.5em;
    align-self: center; } }
@media (min-width: 768px) {
  .menu-icon {
    width: 1rem !important;
    height: 1rem !important;
    margin-right: 0.5em;
    align-self: center; } }

@media (max-width: 991.98px) {
  .nav-label {
    display: none !important; } }

.nav-icon {
  width: 1em !important;
  height: 1em !important;
  margin-right: 5px;
  align-self: center; }

.nav-header {
  line-height: 35px;
  padding: 0 10px;
  font-size: 20px;
  color: #343a40; }

.nav-tabs-custom > .tab-content, .nav-pills-custom > .tab-content {
  display: flex;
  position: relative;
  background: #fff;
  padding: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }
.nav-tabs-custom .tab-pane, .nav-pills-custom .tab-pane {
  flex: 1 0 100%; }

.nav-tabs-custom {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px; }
  .nav-tabs-custom > .nav-tabs {
    margin: 0; }
    .nav-tabs-custom > .nav-tabs .nav-item {
      display: flex;
      margin-right: 5px; }
      .nav-tabs-custom > .nav-tabs .nav-item:first-of-type {
        margin-left: 0; }
      .nav-tabs-custom > .nav-tabs .nav-item > * {
        align-self: center; }
      .nav-tabs-custom > .nav-tabs .nav-item .nav-link {
        color: #343a40;
        background-color: transparent;
        border-top: 3px solid transparent; }
        .nav-tabs-custom > .nav-tabs .nav-item .nav-link:hover:not(.active) {
          color: #212529;
          background-color: #dee2e6; }
        .nav-tabs-custom > .nav-tabs .nav-item .nav-link.active {
          border-top-color: #343a40;
          border-bottom-color: #fff; }

.nav-pills-custom > .nav-pills > .nav-item {
  flex: 1 1 auto;
  text-align: center; }
  .nav-pills-custom > .nav-pills > .nav-item > .nav-link {
    border: 0 !important;
    text-transform: uppercase;
    background-color: #f8f9fa;
    color: #212529;
    font-size: 12px;
    border-radius: 0;
    margin-left: -1px; }
    .nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
      background-color: #343a40;
      color: #fff; }

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out; }
  .navbar-brand > .logo {
    display: block; }

.navbar {
  -webkit-transition: width 0.3s, left 0.3s;
  -o-transition: width 0.3s, left 0.3s;
  transition: width 0.3s, left 0.3s;
  /*margin-bottom: 0;*/
  /*margin-left: 230px;*/
  /*border: none;*/
  /*height: $page-header-height;;*/
  /*border-radius: 0;*/
  /*    .nav {
          & > li.user {
              & > a{
                  & > .fa, & > .glyphicon, & > .ion {
                      margin-right: 5px;
                  }
              }
              & > li > a > .label {
                  position: absolute;
                  top: 9px;
                  right: 7px;
                  text-align: center;
                  font-size: 9px;
                  padding: 2px 3px;
                  line-height: .9;
              }
          }
      }*/ }

@media (max-width: 991.98px) {
  .navbar {
    display: block;
    margin: 0;
    width: 100%;
    float: none; }
    .navbar .badge, .navbar .badge-pill {
      position: absolute;
      top: 0;
      right: 3px;
      text-align: center;
      font-size: 9px;
      padding: 2px 3px;
      line-height: .9; }
    .navbar .dropdown-toggle:after {
      border: none; } }
main {
  position: relative; }
  main > .row > .content {
    margin-left: 14em; }

/*@include media-breakpoint-up('md') {
    section.content{
        margin-left: $nav-brand-width;
    }
}*/
header.page {
  position: relative;
  min-height: 48px;
  z-index: 1030;
  justify-content: flex-start;
  padding: 0;
  border-bottom: 1px solid transparent; }
  header.page .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: "Font Awesome 5 Free";
    /*&:hover {
        color: #fff;
    }*/ }
    header.page .sidebar-toggle:before {
      content: "\f0c9"; }
    header.page .sidebar-toggle:focus, header.page .sidebar-toggle:active {
      background: transparent; }
    header.page .sidebar-toggle .icon-bar {
      display: none; }

footer.page {
  background-color: #f1f3f6;
  border-top: 1px solid transparent;
  font-size: 70%; }
  footer.page .footer-nav {
    margin: 0;
    padding: 0;
    list-style: none; }
    footer.page .footer-nav li {
      margin: 0 2px; }
      footer.page .footer-nav li:first-child::before {
        content: ""; }
      footer.page .footer-nav li::before {
        content: "|"; }

img.profile, svg.profile {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid; }

.bg-blue .progress, .progress.bg-blue {
  background-color: #217dbb; }
  .bg-blue .progress .progress-bar, .progress.bg-blue .progress-bar {
    background-color: #fff; }

.bg-indigo .progress, .progress.bg-indigo {
  background-color: #510bc4; }
  .bg-indigo .progress .progress-bar, .progress.bg-indigo .progress-bar {
    background-color: #fff; }

.bg-purple .progress, .progress.bg-purple {
  background-color: #804399; }
  .bg-purple .progress .progress-bar, .progress.bg-purple .progress-bar {
    background-color: #fff; }

.bg-pink .progress, .progress.bg-pink {
  background-color: #d91a72; }
  .bg-pink .progress .progress-bar, .progress.bg-pink .progress-bar {
    background-color: #fff; }

.bg-red .progress, .progress.bg-red {
  background-color: #b31718; }
  .bg-red .progress .progress-bar, .progress.bg-red .progress-bar {
    background-color: #fff; }

.bg-orange .progress, .progress.bg-orange {
  background-color: #bf6516; }
  .bg-orange .progress .progress-bar, .progress.bg-orange .progress-bar {
    background-color: #fff; }

.bg-yellow .progress, .progress.bg-yellow {
  background-color: #d29400; }
  .bg-yellow .progress .progress-bar, .progress.bg-yellow .progress-bar {
    background-color: #fff; }

.bg-green .progress, .progress.bg-green {
  background-color: #68a249; }
  .bg-green .progress .progress-bar, .progress.bg-green .progress-bar {
    background-color: #fff; }

.bg-teal .progress, .progress.bg-teal {
  background-color: #199d76; }
  .bg-teal .progress .progress-bar, .progress.bg-teal .progress-bar {
    background-color: #fff; }

.bg-cyan .progress, .progress.bg-cyan {
  background-color: #117a8b; }
  .bg-cyan .progress .progress-bar, .progress.bg-cyan .progress-bar {
    background-color: #fff; }

.bg-white .progress, .progress.bg-white {
  background-color: #e6e6e6; }
  .bg-white .progress .progress-bar, .progress.bg-white .progress-bar {
    background-color: #fff; }

.bg-gray .progress, .progress.bg-gray {
  background-color: #545b62; }
  .bg-gray .progress .progress-bar, .progress.bg-gray .progress-bar {
    background-color: #fff; }

.bg-gray-dark .progress, .progress.bg-gray-dark {
  background-color: #1d2124; }
  .bg-gray-dark .progress .progress-bar, .progress.bg-gray-dark .progress-bar {
    background-color: #fff; }

/*.table{
    thead th, table-header{
        background-color: $white;
    }
    .check-select{
        position: relative;
        img{
            -webkit-border-radius: 50% !important;
            border-radius: 50% !important;
        }
        & >:not(img){
            position: absolute;
            top: 0;
            left: 0;
            right:0;
            bottom: 0;
            margin: 0;
            * {
                position: absolute;
                top: 25%;
                left: 25%;
            }
        }
    }
    .row-action{
        color: gray(600);
    }
    .action-hover{
        opacity: 0;
        margin-left: 8px;
    }
    .table-row:hover{
        .check-select{
            img{
                visibility: hidden;
            }
            .check-wrapper{
                opacity: 1;
            }
        }
        .action-hover{
            opacity: 1;
        }
    }
}*/
table th {
  font-family: "Open Sans Condensed", sans-serif; }
table td.disabled, table td:disabled {
  text-decoration: line-through; }

/*### TABLE LISTE ###*/
table.table {
  /*    margin: 0;
      padding: 0;
      //font-size: .8em;
      width: 100%;*/
  /*    tbody {
          overflow-y: auto;
          tr{
              padding-bottom: 10px;
              padding-top: 10px;
              -webkit-box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
              box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
              position: relative;
              @include hover {
                  border-color: $input-focus-border-color;
                  background-color: $input-focus-bg;
                  -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
                  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
                  z-index: 1;
              }
              .custom-checkbox{
                  .custom-control-input:checked ~ .custom-control-label::before, .custom-control-input:checked ~ .custom-control-label::after {
                      opacity: 1;
                  }
                  .custom-control-label{
                      &::before, &::after{
                          left: 0;
                      }
                  }
              }
              .list-action-link{
                  opacity: 0;
                  &.custom-checkbox{
                      opacity: 1;
                  }
                  *::before{
                      opacity: 0;
                  }
              }
              @include hover {
                  .list-action-link{
                      opacity: 1;
                      *::before{
                          opacity: 1;
                      }
                  }
              }
          }
          td{
              padding: 0;
              vertical-align: middle;
              svg{
                  height: .875em;
                  width: .875em;
              }
  
          }
      }*/
  /*    .selection{
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          padding: 0;
          input[type="checkbox"]{
              position: absolute;
              left: 0;
              right: 0;
              width: 100%;
              height: 100%;
              width: 1.5em;
              margin-left: 0;
              opacity: 0;
              z-index: 9;
              cursor: pointer;
          }
          @include hover {
              content: fa_content($fa-var-square);
          }
          &.active::before{
              content: fa_content($fa-var-check-square);
          }
      }*/ }
  table.table .list-item-action {
    font-size: 75%; }

table.detail thead {
  font-size: .8rem; }
table.detail th {
  padding: 0; }
table.detail tbody {
  line-height: 0; }

.btn-toolbar .btn {
  display: flex;
  background: #6c757d linear-gradient(180deg, #80888f, #6c757d) repeat-x;
  color: #fff; }
  .btn-toolbar .btn:hover {
    color: #343a40; }
  .btn-toolbar .btn svg {
    font-weight: 400;
    width: 1.5em;
    height: 1.5em;
    padding-right: 5px; }

/*# sourceMappingURL=style.css.map */
