@charset "UTF-8";
/*!
 *   sf-parc
 *   Author: Antoine Bouët
 *   Version: 1.0.0
 */
.blue header.page {
  background-color: #3498db;
  border-bottom-color: #217dbb; }
  .blue header.page .navbar-brand {
    background-color: #217dbb;
    color: #fff; }
  .blue header.page .sidebar-toggle {
    color: #fff; }
    .blue header.page .sidebar-toggle:hover {
      background-color: #217dbb;
      color: #e9ecef; }
.blue footer.page {
  border-top-color: #217dbb; }
.blue .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #3498db;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.blue img.profile, .blue svg.profile {
  border-color: #3498db; }
.blue.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #e1f0fa; }
.blue.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #3498db; }
.blue.nav-tabs-custom > .nav-tabs .nav-header {
  color: #3498db; }
.blue.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .blue.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #3498db; }

.badge-outline-blue {
  border: 1px solid #3498db;
  color: #3498db; }

.blue .active .badge-outline-blue {
  border: 1px solid #217dbb;
  color: #217dbb; }

.indigo header.page {
  background-color: #6610f2;
  border-bottom-color: #510bc4; }
  .indigo header.page .navbar-brand {
    background-color: #510bc4;
    color: #fff; }
  .indigo header.page .sidebar-toggle {
    color: #fff; }
    .indigo header.page .sidebar-toggle:hover {
      background-color: #510bc4;
      color: #e9ecef; }
.indigo footer.page {
  border-top-color: #510bc4; }
.indigo .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #6610f2;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.indigo img.profile, .indigo svg.profile {
  border-color: #6610f2; }
.indigo.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #e2d1fd; }
.indigo.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #6610f2; }
.indigo.nav-tabs-custom > .nav-tabs .nav-header {
  color: #6610f2; }
.indigo.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .indigo.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #6610f2; }

.badge-outline-indigo {
  border: 1px solid #6610f2;
  color: #6610f2; }

.indigo .active .badge-outline-indigo {
  border: 1px solid #510bc4;
  color: #510bc4; }

.purple header.page {
  background-color: #9b59b6;
  border-bottom-color: #804399; }
  .purple header.page .navbar-brand {
    background-color: #804399;
    color: #fff; }
  .purple header.page .sidebar-toggle {
    color: #fff; }
    .purple header.page .sidebar-toggle:hover {
      background-color: #804399;
      color: #e9ecef; }
.purple footer.page {
  border-top-color: #804399; }
.purple .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #9b59b6;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.purple img.profile, .purple svg.profile {
  border-color: #9b59b6; }
.purple.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #f0e7f4; }
.purple.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #9b59b6; }
.purple.nav-tabs-custom > .nav-tabs .nav-header {
  color: #9b59b6; }
.purple.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .purple.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #9b59b6; }

.badge-outline-purple {
  border: 1px solid #9b59b6;
  color: #9b59b6; }

.purple .active .badge-outline-purple {
  border: 1px solid #804399;
  color: #804399; }

.pink header.page {
  background-color: #e83e8c;
  border-bottom-color: #d91a72; }
  .pink header.page .navbar-brand {
    background-color: #d91a72;
    color: #fff; }
  .pink header.page .sidebar-toggle {
    color: #fff; }
    .pink header.page .sidebar-toggle:hover {
      background-color: #d91a72;
      color: #e9ecef; }
.pink footer.page {
  border-top-color: #d91a72; }
.pink .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #e83e8c;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.pink img.profile, .pink svg.profile {
  border-color: #e83e8c; }
.pink.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #fef4f9; }
.pink.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #e83e8c; }
.pink.nav-tabs-custom > .nav-tabs .nav-header {
  color: #e83e8c; }
.pink.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .pink.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #e83e8c; }

.badge-outline-pink {
  border: 1px solid #e83e8c;
  color: #e83e8c; }

.pink .active .badge-outline-pink {
  border: 1px solid #d91a72;
  color: #d91a72; }

.red header.page {
  background-color: #e01d1e;
  border-bottom-color: #b31718; }
  .red header.page .navbar-brand {
    background-color: #b31718;
    color: #fff; }
  .red header.page .sidebar-toggle {
    color: #fff; }
    .red header.page .sidebar-toggle:hover {
      background-color: #b31718;
      color: #e9ecef; }
.red footer.page {
  border-top-color: #b31718; }
.red .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #e01d1e;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.red img.profile, .red svg.profile {
  border-color: #e01d1e; }
.red.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #f9d0d0; }
.red.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #e01d1e; }
.red.nav-tabs-custom > .nav-tabs .nav-header {
  color: #e01d1e; }
.red.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .red.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #e01d1e; }

.badge-outline-red {
  border: 1px solid #e01d1e;
  color: #e01d1e; }

.red .active .badge-outline-red {
  border: 1px solid #b31718;
  color: #b31718; }

.orange header.page {
  background-color: #e67e22;
  border-bottom-color: #bf6516; }
  .orange header.page .navbar-brand {
    background-color: #bf6516;
    color: #fff; }
  .orange header.page .sidebar-toggle {
    color: #fff; }
    .orange header.page .sidebar-toggle:hover {
      background-color: #bf6516;
      color: #e9ecef; }
.orange footer.page {
  border-top-color: #bf6516; }
.orange .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #e67e22;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.orange img.profile, .orange svg.profile {
  border-color: #e67e22; }
.orange.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #fbe9d9; }
.orange.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #e67e22; }
.orange.nav-tabs-custom > .nav-tabs .nav-header {
  color: #e67e22; }
.orange.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .orange.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #e67e22; }

.badge-outline-orange {
  border: 1px solid #e67e22;
  color: #e67e22; }

.orange .active .badge-outline-orange {
  border: 1px solid #bf6516;
  color: #bf6516; }

.yellow header.page {
  background-color: #ffb606;
  border-bottom-color: #d29400; }
  .yellow header.page .navbar-brand {
    background-color: #d29400;
    color: #212529; }
  .yellow header.page .sidebar-toggle {
    color: #212529; }
    .yellow header.page .sidebar-toggle:hover {
      background-color: #d29400;
      color: #e9ecef; }
.yellow footer.page {
  border-top-color: #d29400; }
.yellow .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #ffb606;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.yellow img.profile, .yellow svg.profile {
  border-color: #ffb606; }
.yellow.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #fff2d2; }
.yellow.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #ffb606; }
.yellow.nav-tabs-custom > .nav-tabs .nav-header {
  color: #ffb606; }
.yellow.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .yellow.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #ffb606; }

.badge-outline-yellow {
  border: 1px solid #ffb606;
  color: #ffb606; }

.yellow .active .badge-outline-yellow {
  border: 1px solid #d29400;
  color: #d29400; }

.green header.page {
  background-color: #82b965;
  border-bottom-color: #68a249; }
  .green header.page .navbar-brand {
    background-color: #68a249;
    color: #212529; }
  .green header.page .sidebar-toggle {
    color: #212529; }
    .green header.page .sidebar-toggle:hover {
      background-color: #68a249;
      color: #e9ecef; }
.green footer.page {
  border-top-color: #68a249; }
.green .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #82b965;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.green img.profile, .green svg.profile {
  border-color: #82b965; }
.green.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #f4f9f1; }
.green.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #82b965; }
.green.nav-tabs-custom > .nav-tabs .nav-header {
  color: #82b965; }
.green.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .green.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #82b965; }

.badge-outline-green {
  border: 1px solid #82b965;
  color: #82b965; }

.green .active .badge-outline-green {
  border: 1px solid #68a249;
  color: #68a249; }

.teal header.page {
  background-color: #20c997;
  border-bottom-color: #199d76; }
  .teal header.page .navbar-brand {
    background-color: #199d76;
    color: #fff; }
  .teal header.page .sidebar-toggle {
    color: #fff; }
    .teal header.page .sidebar-toggle:hover {
      background-color: #199d76;
      color: #e9ecef; }
.teal footer.page {
  border-top-color: #199d76; }
.teal .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #20c997;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.teal img.profile, .teal svg.profile {
  border-color: #20c997; }
.teal.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #c0f5e5; }
.teal.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #20c997; }
.teal.nav-tabs-custom > .nav-tabs .nav-header {
  color: #20c997; }
.teal.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .teal.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #20c997; }

.badge-outline-teal {
  border: 1px solid #20c997;
  color: #20c997; }

.teal .active .badge-outline-teal {
  border: 1px solid #199d76;
  color: #199d76; }

.cyan header.page {
  background-color: #17a2b8;
  border-bottom-color: #117a8b; }
  .cyan header.page .navbar-brand {
    background-color: #117a8b;
    color: #fff; }
  .cyan header.page .sidebar-toggle {
    color: #fff; }
    .cyan header.page .sidebar-toggle:hover {
      background-color: #117a8b;
      color: #e9ecef; }
.cyan footer.page {
  border-top-color: #117a8b; }
.cyan .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #17a2b8;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.cyan img.profile, .cyan svg.profile {
  border-color: #17a2b8; }
.cyan.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #a7e9f4; }
.cyan.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #17a2b8; }
.cyan.nav-tabs-custom > .nav-tabs .nav-header {
  color: #17a2b8; }
.cyan.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .cyan.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #17a2b8; }

.badge-outline-cyan {
  border: 1px solid #17a2b8;
  color: #17a2b8; }

.cyan .active .badge-outline-cyan {
  border: 1px solid #117a8b;
  color: #117a8b; }

.white header.page {
  background-color: #fff;
  border-bottom-color: #e6e6e6; }
  .white header.page .navbar-brand {
    background-color: #e6e6e6;
    color: #212529; }
  .white header.page .sidebar-toggle {
    color: #212529; }
    .white header.page .sidebar-toggle:hover {
      background-color: #e6e6e6;
      color: #e9ecef; }
.white footer.page {
  border-top-color: #e6e6e6; }
.white .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #fff;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.white img.profile, .white svg.profile {
  border-color: #fff; }
.white.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: white; }
.white.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #fff; }
.white.nav-tabs-custom > .nav-tabs .nav-header {
  color: #fff; }
.white.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .white.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #fff; }

.badge-outline-white {
  border: 1px solid #fff;
  color: #fff; }

.white .active .badge-outline-white {
  border: 1px solid #e6e6e6;
  color: #e6e6e6; }

.gray header.page {
  background-color: #6c757d;
  border-bottom-color: #545b62; }
  .gray header.page .navbar-brand {
    background-color: #545b62;
    color: #fff; }
  .gray header.page .sidebar-toggle {
    color: #fff; }
    .gray header.page .sidebar-toggle:hover {
      background-color: #545b62;
      color: #e9ecef; }
.gray footer.page {
  border-top-color: #545b62; }
.gray .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #6c757d;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.gray img.profile, .gray svg.profile {
  border-color: #6c757d; }
.gray.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #d8dbdd; }
.gray.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #6c757d; }
.gray.nav-tabs-custom > .nav-tabs .nav-header {
  color: #6c757d; }
.gray.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .gray.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #6c757d; }

.badge-outline-gray {
  border: 1px solid #6c757d;
  color: #6c757d; }

.gray .active .badge-outline-gray {
  border: 1px solid #545b62;
  color: #545b62; }

.gray-dark header.page {
  background-color: #343a40;
  border-bottom-color: #1d2124; }
  .gray-dark header.page .navbar-brand {
    background-color: #1d2124;
    color: #fff; }
  .gray-dark header.page .sidebar-toggle {
    color: #fff; }
    .gray-dark header.page .sidebar-toggle:hover {
      background-color: #1d2124;
      color: #e9ecef; }
.gray-dark footer.page {
  border-top-color: #1d2124; }
.gray-dark .sidebar .menu-item.active {
  box-shadow: inset 4px 0 0 #343a40;
  /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
  border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
  border-image: -webkit-linear-gradient($color 10%,$light 59%);
  border-image: linear-gradient($color 10%,$light 59%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 4px;*/ }
.gray-dark img.profile, .gray-dark svg.profile {
  border-color: #343a40; }
.gray-dark.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link:hover:not(.active) {
  background-color: #96a0aa; }
.gray-dark.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  border-top-color: #343a40; }
.gray-dark.nav-tabs-custom > .nav-tabs .nav-header {
  color: #343a40; }
.gray-dark.nav-pills-custom > .nav-pills > .nav-item > .nav-link.active, .gray-dark.nav-pills-custom > .nav-pills > .nav-item > .nav-link:hover {
  background-color: #343a40; }

.badge-outline-gray-dark {
  border: 1px solid #343a40;
  color: #343a40; }

.gray-dark .active .badge-outline-gray-dark {
  border: 1px solid #1d2124;
  color: #1d2124; }

.badge-outline-primary {
  border: 1px solid #343a40;
  color: #343a40; }

.badge-outline-secondary {
  border: 1px solid #3f5872;
  color: #3f5872; }

.badge-outline-success {
  border: 1px solid #82b965;
  color: #82b965; }

.green .active .badge-outline-success {
  border: 1px solid #68a249;
  color: #68a249; }

.badge-outline-info {
  border: 1px solid #3498db;
  color: #3498db; }

.blue .active .badge-outline-info {
  border: 1px solid #217dbb;
  color: #217dbb; }

.badge-outline-warning {
  border: 1px solid #ffb606;
  color: #ffb606; }

.yello .active .badge-outline-warning {
  border: 1px solid #d29400;
  color: #d29400; }

.badge-outline-danger {
  border: 1px solid #e01d1e;
  color: #e01d1e; }

.red .active .badge-outline-danger {
  border: 1px solid #b31718;
  color: #b31718; }

.badge-outline-light {
  border: 1px solid #f8f9fa;
  color: #f8f9fa; }

.badge-outline-dark {
  border: 1px solid #343a40;
  color: #343a40; }

body.bg-dark, body.bg-light {
  background-color: #f1f3f6 !important; }

.bg-dark .nav-sidebar {
  background-color: #343a40;
  box-shadow: inset -1px 0 0 #343a40;
  color: #fff !important; }
  .bg-dark .nav-sidebar .sidebar > .nav > .nav-item > .nav-link {
    color: #fff !important; }
.bg-dark .sidebar > .menu > .menu-item:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.6); }

.bg-light .nav-sidebar {
  background-color: #f8f9fa;
  box-shadow: inset -1px 0 0 #f8f9fa;
  color: #fff !important; }
  .bg-light .nav-sidebar .sidebar > .nav > .nav-item > .nav-link {
    color: #fff !important; }
.bg-light .sidebar > .nav > .nav-item:hover:not(.active) > .nav-link {
  background-color: rgba(33, 37, 41, 0.6); }

svg {
  fill: currentColor; }

/*# sourceMappingURL=theme.css.map */
