/* Cards */
.card {
    font-size: 1rem;
    margin-bottom: 25px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    input, textarea{
        width: 100%;
    }
    a:not(.btn){
        color: $body-color;
        @include hover {
            color: darken($body-color, 15%);
        }
    }

    & > .card-header {
        position: relative;
        padding: $card-spacer-y/4 $card-spacer-x/4; //padding: .75rem 1.25rem;
        margin-bottom: 0;
        text-transform: uppercase;
        transition: all .3s;
        color: $dark;
        .card-tools {
            position: relative;
            display: inline-block;
            list-style: none;
            float: right;
            margin: 0;
            padding: 0;
            a {
                margin-left: 5px;
                cursor: pointer;
                color: $gray-500;
                &::before{
                    @include before;
                    font-size: 1.2rem !important;
                    line-height: 1;
                }
                &.close::before{
                    content: fa-content($fa-var-times);
                }
                &.resize::before{
                    content: fa-content($fa-var-caret-up);
                }
            }
        }
        .clip-header {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 8px;
            background: $light;
            padding: 4px 5px;
            i, svg {
                display: inline-block;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            svg{
                height: 14px;
                width: 14px;
            }
        }
        svg, .icon{
            height: 1rem;
            width: 1rem;
        }
        .icon{
            margin-right: $icon-spacing;
        }
    }
    & > .card-body {
        &.full-width{
            padding: 0;
        }
        & > div{
            padding: 0;
            margin: 0;
        }
    }
    & > .card-footer{
        font-size: .7em;
        background: $light;
        padding: 2px 5px;
        list-style: none;
        color: $gray-600;
        *{
            margin: 0;
        }
        svg, .icon{
            height: 0.7rem;
            width: 0.7rem;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            color: $gray-600;
            font-family: 'Open Sans Condensed', sans-serif;
            letter-spacing: 0.2em;
        }
    }
    & > .card-section{
        position: relative;
        padding: 5px;
        color: $light;
        & > header{
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 10;
            padding: 2px 15px;
            background-color: rgba(0, 0, 0, 0.5);
        }
        & > footer{
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            border-top: none;
            font-size: .7em;
            padding: 2px 15px;
            background-color: rgba(0, 0, 0, 0.5);
            *{
                margin: 0;
            }
            svg, .icon{
                height: 0.7rem;
                width: 0.7rem;
            }
        }
    }
    /* style de carte */
    &.collapsed {
        .card-header {
            padding: $card-spacer-y/2 $card-spacer-x/2;
            position: relative;
            border: none;
            .card-tools {
                a {
                    &.resize::before{
                        content: fa-content($fa-var-caret-down);
                    }
                }
            }
        }
        .card-body {
            display: none;
        }
        .card-footer {
            display: none;
        }
    }
    &.light{
        .card-header{
            border: none;
            font-weight: initial;
            font-family: $font-family-monospace;
            background-color: $card-bg;
        }
        .card-body{
            overflow: hidden;
            overflow-y: auto;
        }
        .card-footer{
            border: none;
            background-color: $card-bg;
            position: absolute;
            bottom:0;
            width: 100%
        }
    }
    &.info {
        flex-direction: row;
        background: $white;
        .card-body{
            display: flex;
            flex-direction: column;
            padding: 5px 10px;
            overflow-y: auto;
            .list-group-item{
                padding: 0;
            }
        }
        .card-text{
            font-family: 'Source Sans Pro', sans-serif;
        }
        .card-icon{
            position: relative;
            display: block;
            float: left;
            padding: 15px;
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: $card-border-radius;
            text-align: center;
            svg, i{
                height: 60px;
                width: 60px;
            }
        }
        @include media-breakpoint-down('md') {
            max-width: 100%;            
        }
    }
    /* Elements de la carte */
    .card-body-icon {
        position: absolute;
        z-index: 0;
        top: 1rem;
        right: 1rem;
        opacity: 0.2;
        font-size: 6rem;
        @include rotate;
    }
    .card-img-overlay{
        position: absolute;
        top: initial;
        text-align: center;
        z-index: 10;
        padding: 20px 0 !important; 
        .card-title, {
            @include title;
            color: $white;
            text-shadow: 2px 2px $dark;
            letter-spacing:5px;
        }
        .card-subtitle{
            @include excerpt;
            letter-spacing: 0.55em;
            color: $white;
        }
    }
    .card-img{
        overflow: hidden;
        &:hover img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5 ease-out;
        }
    }
    .card-title{
        @include title;
    }
    .card-icon{
        @each $name, $color in $colors {
            &.bg-#{$name}{
                background-color: $color;
                color: $white;
            }
        }
    }
    .card-figure {
        display: block;
        font-weight: bold;
        font-size: 18px;
    }
    .card-caption{
        display: block;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .card-subtitle{
        @include excerpt;
    }

    // border colors
    &.card-border-top, &.card-border-left{
        & > * {
            background-color: $card-bg !important;
        }
    }
    &.card-border-top, &.card-border-top .card-section {
        border-top-width: 3px !important;
        border-top-color: transparent;
    }
    &.card-border-left, &.card-border-left .card-section {
        border-left-width: 3px !important;
        border-left-color: transparent;
    }
    $border-colors: map-merge(("primary": $primary, "secondary": $secondary), $colors);
    @each $name, $color in $border-colors {
        &.card-border-top.#{$name}, &.card-border-top.#{$name} .card-section {
            border-top-color: $color !important;
        }
        &.card-border-left.#{$name}, &.card-border-left.#{$name} .card-section {
            border-left-color: $color !important;
        }
        hr {
            color: $color;
        }
    }

    // background colors
    &.bg-transparent .card-body {
        background-color: transparent;
        color: $white;
        border: none;
    }
    @each $name, $color in $colors {
        &.bg-#{$name}{
            .card-body {
                background-color: $color;
                color: $white;
                border: none;
            }
            .card-icon{
                background-color: darken($color, $darken-rate);
                color: $white;
            }
            .card-footer {
                background-color: darken($color, 3%);
                color: $white;
                a {
                    color: $white;
                }
            }
        }
    }
}

.card-flip {
    /*    -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        height: 310px;*/
    .mainflip {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
    }
    .card-body{
        overflow: hidden;
        overflow-y: auto;
    }

    .frontside, .backside {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -moz-transform-style: preserve-3d;
        -o-transition: 1s;
        -o-transform-style: preserve-3d;
        -ms-transition: 1s;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        height: 100%;
        width: 100%;
    }
    .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        //margin-bottom: 30px;

    }
    .backside{
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        //-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        //-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        //box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }
    .flip-image, &.flip-hover:hover{
        .frontside {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
        .backside {
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
        }
    }
}

.list-footer{
    padding: 10px 15px;
    .list-footer-item{
        border-right: $border-width solid $border-color;
        &:last-child{
            border: none;
        }
    }
}
.footer-stat{
    padding: 8px 0;
    text-align: center;
    span {
        font-size: 10px;
        font-weight: 500;
        display: block;
        color: #9d9fa2;
        text-transform: uppercase;
    }
}