label, legend {
    font-family: $label-font-family;
}
label{
    font-size: 1rem;
}
fieldset{
    border: 1px solid $border-color !important;
    padding: 15px;

    legend{
        font-size: inherit;
        width: auto;
        font-size: inherit;
        padding: 5px;
        margin: 0;
        margin-left: 15px;
    }
}
form{
    position: relative;

    .notification{
        //@extend .alert;
        position: absolute;
        top: -40px;
        padding: $alert-padding-y $alert-padding-x;
    }
    @each $color, $value in $theme-colors {
        .notification-#{$color} {
            @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
        }
    }
    *[required]{
        background-color: rgba(250, 0, 0, .05) !important;
    }
}

//@include form-validation-state("warning", );
.form-control.is-warning{
    border-color: $warning;
    &:focus {
        border-color: $warning;
        box-shadow: 0 0 0 $input-focus-width rgba( $warning, .25);
    }
}

.form-group *[data-toggle=tooltip]:after {
    font-family: $fontawesone-font-family;
    font-weight: 400;
    font-size: 0.8rem;
    padding-left: 5px;
    content: fa-content($fa-var-question-circle);
}

.form-check-toggle{
    font-size: 1.5rem;  
    font-family: $fontawesone-font-family;
    font-weight: 900;
    padding: 0;
    label{
        font-size: initial;
        font-weight: initial;
    }
    &::before{
        content: fa_content($fa-var-toggle-off);
    }
    &.btn-color{
        color: $red;
    }
    &.active{
        color: $green;
        &::before{
            content: fa_content($fa-var-toggle-on);
        }
    }
    &.btn-nocolor::before{
        color: inherit !important;
    }
    input[type="checkbox"]{
        position: absolute;
        left:0;
        right:0;
        width: 100%;
        height: 100%;
        width: 1.5em;
        margin-left: 0;
        opacity: 0;
        z-index: 9;
        cursor:pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
::-webkit-input-placeholder, /* Chrome/Opera/Safari */
::-moz-placeholder, /* Firefox 19+ */
:-moz-placeholder, /* Firefox 18- */
:-ms-input-placeholder, /* IE 10+ */
::-ms-input-placeholder /* Microsoft Edge */
{
    color: $placeholer-color;
    font-size: $placeholer-size;
}

