.search {
    position: relative;
    color: $text-muted;
    font-size: 16px;

    input { text-indent: 32px;}

    *:not([type=search]) { 
        position: absolute;
        top: 10px;
        left: 10px;
    }
}
/* Animation Chargement */
#chargement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
    z-index: $zindex-modal-backdrop;
    pointer-events: none;
    font-family: $font-family-monospace;
    color: $white;
}
.double-bounce {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 40px auto;
    .bounce-child {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $white;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
        animation: sk-doubleBounce 2s infinite ease-in-out;
    }
    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
}

@-webkit-keyframes sk-doubleBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); 
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-doubleBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1); 
    }
}