html, body {
    height: 100%;
}
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: $body-bg;
    color: $body-color;
    height: 100vh;
    font-size: 1em;
    overflow-x: hidden;
    overflow-y: auto;
}
main {
    height: 100%;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    & > .row {
        height: 100%;
    }
    section{
        //height: 100%;
        overflow-y: auto;
        //max-height: 85vh;
        overflow-x: hidden;
    }
    .inner-wrapper{
        max-height: 53vh;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }

    img,&:link img,&:visited img {
        border: none;
    }
}

iframe{
    border: none;
    height: 100%;
    width: 100%;
}