/*.main-header, .main-footer{
    height: $main-header-height;
}*/
.main-header{
    //box-shadow: 0 .5rem 1rem rgba($black, .5);
    box-shadow:  0 0.05rem .5rem rgba($black, 0.5)
}
.main-footer{
    box-shadow: 0 -.05rem .5rem rgba($black, .5);
    & > * {
        height: 100%;
    }
}
main {
    margin-top: $main-header-height !important;
    margin-bottom: $main-header-height !important;
    margin-left: $sidebar-width !important;
    height: 100vh - ($main-header-height*2);
    overflow: hidden;
    overflow-y: auto;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    & > .content{
        height: 100%;
        & > header, .content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            & .heading {
                margin: 0;
            }
            .breadcrumb {
                background: transparent;
                margin: 0;
                padding: 0;
                @include media-breakpoint-down('md'){
                    margin-top: 5px;
                    width: 100%;
                    background: $gray-400;
                    padding: 7px 5px;
                    padding-left: 10px;
                }
                li + li:before {
                    padding: 0 5px;
                    content: "/\00a0";
                }
            }
            @include media-breakpoint-up('md'){
                flex-direction: row;
            }
            @include media-breakpoint-down('md'){
                flex-direction: column;
                align-items: start;
            }
        }
        & > .row > section, .content-header ~ section {
            padding: 15px;
        }
        .inner-wrapper{
            max-height: 53vh;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    section{
        overflow-y: auto;
        overflow-x: hidden;
    }

}

section > header {
    @include media-breakpoint-down('md') {
        padding: 5px 0;
        border-top: $border-width solid $dark;
    }
}