.liste{
    //    min-height: 82vh;
    //    max-height: 82vh;
}
.list-group{
    .list-group-header{
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: bold;
    }
    .list-group-item{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        border-left:{
            width: 3px;
            style: solid;
            color: transparent;
        }
        .custom-control-label{
            padding-left: 1.5rem;
            &::before, &::after{
                left: 0;
            }
        }
        & > svg, & > img, .list-item-icon {
            @include icon($list-icon-size, $list-icon-spacing);
            border-radius: 50%;
            padding: 5px;
            background-color: $list-group-bg;
        }
        @include hover-focus {
            border-left-color: darken($list-group-border-color, $darken-rate);
        }
    }

    @each $color, $hex in $colors {
        &.#{$color}{
            & > .list-group-item{
                &.active{
                    $color: lighten($hex, $lighten-rate);
                    background-color: $color;
                    border-color: $color;
                    /*&::after{
                        border-left-color: $color;
                    }*/
                }
                @include hover-focus {
                    border-left-color: darken($hex, $darken-rate);
                }
            }
        }
    }
}
/** ACTIONS **/
.list-action{
    display: flex;
    align-items: center;
    justify-content: end;
    &.active{
        .list-action-link{
            color: $white;
        }
    }
    .list-action-link{
        text-decoration: none;
        color: $gray-700;
        font-weight: normal;
        &.disabled{
            color: $gray-400;
            cursor: not-allowed;
        }
        &:hover {
            text-decoration: none;
        }
        &:hover:not(.disabled) {
            color: $gray-600;
        }
        &:focus:not(.disabled), &:hover:not(.disabled) {
            background-color: transparent;
        }
        &:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        svg {
            width: 1.2em;
            height: 1.2em;
            padding: .1rem;
        }
    }
}

.draggable::before {
    position: absolute;
    width: 10px;
    top: 0;
    content: '';
    cursor: move;
    left: 0;
    height: 30px;
    background: url(../img/handle.png) no-repeat;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}