.nav-sidebar {
    flex-direction: column;
    position: fixed;
    z-index: $zindex-fixed;
    width: $sidebar-width !important;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    transform: translate3d(0, 0, 0);
    a {
        text-decoration: none;
    }
    .nav {
        padding-left: 0;
        list-style: none;
    }
    .nav-item {
        width: 100%;
        white-space: nowrap;
        transition: padding 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $sidebar-item-padding-y 0;
        & > .nav-link {
            padding: 0;
        }
    }
}
.sidebar {
    height: 100%;
    width: 100%;
    & > .menu{
        & > .menu-item {
            position: relative;
            & > .menu-link {
                @include media-breakpoint-up('sm'){
                    margin-right: 1px;
                }
                .menu-icon{
                    max-height: 20px;
                    max-width: 20px;
                }
            }
            & > .sub-menu{
                display: none;
                font-size: 0.7em;
                & > .menu-heading, & > .menu-item{
                    justify-content: start;
                }
                & > .menu-heading{
                    padding: $sidebar-item-padding-y $sidebar-item-padding-x;
                }
                & > .menu-item{
                    padding: $sidebar-item-padding-y/2 $sidebar-item-padding-x;
                    & > menu-link{
                        color: $body-color;
                    }
                }
                .menu-item:not(.menu-heading){
                    &:last-child{
                        padding-bottom: 8px;
                    }
                    &:nth-child(2){
                        border-top: 1px solid $body-color;
                    }
                }
            }
            &:hover{
                > .sub-menu{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    left: $sidebar-width;
                    min-width: 150px;
                    margin-top: -1px;
                    background-color: #fff;
                    box-shadow: 2px 1px 3px rgba(0,0,0,0.1);
                    border: 1px solid #eee;
                    border-left: 0;
                    border-radius: 0 3px 3px 0;
                }
                > .sub-menu:not(.dropup){
                    top: 0;
                }
                > .sub-menu.dropup{
                    bottom: 0;
                }
            }
            &.active {
                background: rgba(0,0,0,0.04);
            }
        }
        .menu-link:hover {
            background-color: rgba(0,0,0,0.06);
        }
        .menu-heading{
            @include heading;
            padding-left: $sidebar-item-padding-x;
        }
    }
}
.sub-menu {
    color: $body-color;
}
.menu-icon{
    @include media-breakpoint-down('md'){
        @include icon($menu-icon-size*1.2, $menu-icon-spacing);
    }
    @include media-breakpoint-up('md'){
        @include icon($menu-icon-size, $menu-icon-spacing);
    }
}
