@import 'mixins/background';
@import 'mixins/card';
@import 'mixins/layout';
@import 'mixins/media';
@import 'mixins/menu';
@import 'mixins/typo';

@mixin rotate {
    transform: rotate(15deg);
}
@mixin custom-gradient-bg($color: $gray-300, $darker: darken($color, 20%)) {
    background-image: linear-gradient(141deg, $color 0%, $darker 51%, $color 75%) !important;
    color: $white !important; //color-yiq($color);
}
@mixin bg-custom-gradient-variant($parent, $color) {
    #{$parent} {
        @include custom-gradient-bg($color);
    }
}
