.nav-label{
    @include media-breakpoint-down('md'){
        display: none !important;
    }
}
.nav-icon{
    @include icon($nav-icon-size);
}
.nav-header {
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px;
    color: $primary;
}

.nav-tabs-custom, .nav-pills-custom{
    & > .tab-content {
        display: flex;
        position: relative;
        background: $white;
        padding: 10px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .tab-pane{
        flex: 1 0 100%;
    }
}

.nav-tabs-custom {
    margin-bottom: 20px;
    background: $white;
    box-shadow: 0 1px 1px rgba($black, 0.1);
    border-radius: 3px;
    & > .nav-tabs {
        margin: 0;
        .nav-item {
            display: flex;
            margin-right: 5px;
            &:first-of-type {
                margin-left: 0;
            }
            & > *{
                align-self: center;
            }
            .nav-link{
                color: $primary;
                background-color: transparent;
                border-top: 3px solid transparent;
                &:hover:not(.active) {
                    color: $gray-900;
                    background-color: $gray-300;
                }
                &.active {
                    border-top-color: $primary;
                    border-bottom-color: $white;
                }
            }
        }
    }
}

.nav-pills-custom {
    & > .nav-pills{
        & > .nav-item {
            flex: 1 1 auto;
            text-align: center;
            & > .nav-link {
                border: 0 !important;
                text-transform: uppercase;
                background-color: $light; //$blue-grey;
                color: $yiq-text-dark;
                font-size: 12px;
                border-radius: 0;
                margin-left: -1px;
                &.active, &:hover {
                    background-color: $primary;
                    color: $yiq-text-light;
                }
            }
        }
    }
}