.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    &>.logo {
        display: block;
    }
}
.navbar {
    -webkit-transition: width 0.3s, left 0.3s;
    -o-transition: width 0.3s, left 0.3s;
    transition: width 0.3s, left 0.3s;
    /*margin-bottom: 0;*/
    /*margin-left: 230px;*/
    /*border: none;*/
    /*height: $page-header-height;;*/
    /*border-radius: 0;*/
    /*    .nav {
            & > li.user {
                & > a{
                    & > .fa, & > .glyphicon, & > .ion {
                        margin-right: 5px;
                    }
                }
                & > li > a > .label {
                    position: absolute;
                    top: 9px;
                    right: 7px;
                    text-align: center;
                    font-size: 9px;
                    padding: 2px 3px;
                    line-height: .9;
                }
            }
        }*/
}

@include media-breakpoint-down('md'){
    .navbar {
        display: block;
        margin: 0;
        width: 100%;
        float: none;
        .badge, .badge-pill {
            position: absolute;
            top: 0;
            right: 3px;
            text-align: center;
            font-size: 9px;
            padding: 2px 3px;
            line-height: .9;
        }
        .dropdown-toggle:after{
            border: none;
        }
    }
}