    
// Colors
$red:        #e01d1e;
$blue-grey: #BDCCDA;

$primary:       #343a40; // =$dark, =gray-800
$secondary:     #3f5872; // =$navy

$border-width: 1px;
$border-radius: 2px;
$border-color: lighten($primary, 40%);

// Body
$body-bg:    #f1f3f6;

$dropdown-border-radius: 5px;

// CARD
$card-columns-count: 5;

// Fonts
$fa-font-path: "../webfonts";
$font-family-sans-serif:      'Open Sans', sans-serif;
$font-family-monospace:       'Open Sans Condensed', sans-serif;
$headings-font-family:        $font-family-sans-serif; //'Anton', sans-serif;
$label-font-family:           'Open Sans Condensed', sans-serif;
$fontawesone-font-family:     'Font Awesome 5 Free';