main{
    position: relative;
    //padding-top: $page-header-height;
    &>.row>.content{
        margin-left: $main-sidebar-width;
    }
}

/*@include media-breakpoint-up('md') {
    section.content{
        margin-left: $nav-brand-width;
    }
}*/
header{
    &.page{
        position: relative;
        min-height: $page-header-height;
        z-index: $zindex-fixed;
        justify-content: flex-start;
        padding: 0;
        border-bottom: $border-width solid transparent;

        .sidebar-toggle {
            float: left;
            background-color: transparent;
            background-image: none;
            padding: 15px 15px;
            font-family: $fontawesone-font-family;
            &:before {
                content: "\f0c9";
            }
            /*&:hover {
                color: #fff;
            }*/
            &:focus,
                &:active {
                background: transparent;
            }
            .icon-bar {
                display: none;
            }
        }
    }
}
footer{
    &.page {
        background-color: $body-bg;
        border-top: $border-width solid transparent;
        font-size: 70%;
        .footer-nav {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin: 0 2px;
                &:first-child::before {
                    content: "";
                }
                &::before {
                    content: "|";
                }
            }
        }
    }
}
