@each $name, $color in $colors {
    .bg-#{$name} .progress, .progress.bg-#{$name} {
        background-color: darken($color, $darken-rate);
        .progress-bar{
            background-color: $white;
        }
    }
}