/*.table{
    thead th, table-header{
        background-color: $white;
    }
    .check-select{
        position: relative;
        img{
            -webkit-border-radius: 50% !important;
            border-radius: 50% !important;
        }
        & >:not(img){
            position: absolute;
            top: 0;
            left: 0;
            right:0;
            bottom: 0;
            margin: 0;
            * {
                position: absolute;
                top: 25%;
                left: 25%;
            }
        }
    }
    .row-action{
        color: gray(600);
    }
    .action-hover{
        opacity: 0;
        margin-left: 8px;
    }
    .table-row:hover{
        .check-select{
            img{
                visibility: hidden;
            }
            .check-wrapper{
                opacity: 1;
            }
        }
        .action-hover{
            opacity: 1;
        }
    }
}*/

table{
    th{
        font-family: $label-font-family;
    }

    td.disabled, td:disabled{
        text-decoration: line-through;
    }
}

/*### TABLE LISTE ###*/
table.table{
/*    margin: 0;
    padding: 0;
    //font-size: .8em;
    width: 100%;*/
/*    tbody {
        overflow-y: auto;
        tr{
            padding-bottom: 10px;
            padding-top: 10px;
            -webkit-box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
            box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
            position: relative;
            @include hover {
                border-color: $input-focus-border-color;
                background-color: $input-focus-bg;
                -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
                box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
                z-index: 1;
            }
            .custom-checkbox{
                .custom-control-input:checked ~ .custom-control-label::before, .custom-control-input:checked ~ .custom-control-label::after {
                    opacity: 1;
                }
                .custom-control-label{
                    &::before, &::after{
                        left: 0;
                    }
                }
            }
            .list-action-link{
                opacity: 0;
                &.custom-checkbox{
                    opacity: 1;
                }
                *::before{
                    opacity: 0;
                }
            }
            @include hover {
                .list-action-link{
                    opacity: 1;
                    *::before{
                        opacity: 1;
                    }
                }
            }
        }
        td{
            padding: 0;
            vertical-align: middle;
            svg{
                height: .875em;
                width: .875em;
            }

        }
    }*/
    .list-item-action{
        font-size: 75%;
    }
    /*    .selection{
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            padding: 0;
            input[type="checkbox"]{
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                width: 1.5em;
                margin-left: 0;
                opacity: 0;
                z-index: 9;
                cursor: pointer;
            }
            @include hover {
                content: fa_content($fa-var-square);
            }
            &.active::before{
                content: fa_content($fa-var-check-square);
            }
        }*/
}

table.detail{
    thead {
        font-size: .8rem;
    }
    th {
        padding: 0;
    }
    tbody{
        //font-size: 0.8em;
        line-height: 0;
    }
}