.btn-toolbar{
    .btn{
        display: flex;
        @include gradient-bg($gray-600);
        color: $white;
        &:hover{
            color: $dark;
        }
        svg {
            font-weight: 400;
            width: 1.5em;
            height: 1.5em;
            padding-right: 5px;
        }
    }
}