$theme-colors-matching: (
    "success":    "green",
    "info":       "blue",
    "warning":    "yello",
    "danger":     "red"
);

$semantics:(
    note: ( color: $blue, text-color: $navy),
    info: ( color: #e6f4fa, text-color: $blue),
    hint: ( color: $green, text-color: $green),
    warning: ( color: #fdefe1, text-color: $yellow ),
    //question: ( color: $dark, text-color: $light ),
    error: ( color: #f9d2d8, text-color: $red ),
    notification: ( color: #fb9678, text-color: $red  )
);

$toggle-padding-x: .4em;

$darken-rate: 10%;
$lighten-rate: 0%;

//page
$page-header-height: 48px;
$main-sidebar-width: 14em;

//Heading
//$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-weight:        600;

//Header
$header-padding-x: 24px;
$header-padding-y: 24px;

$enable-shadows: true;

$search-border-radius: 28px;
$search-width: 480px;

$placeholer-color: #adb5bd  !important; //gray-500
$placeholer-size:  0.8rem;

// MAIN HEADER
// --------------------------------------------------------
//$main-header-height: (($font-size-base * $line-height-base) + ($navbar-padding-y * 2));
$main-header-height: 6vh;

// LAYOUT
// --------------------------------------------------------
// Navbar
$navbar-spacing-y: .5em;
$navbar-dropdown-radius: 4px;
$navbar-dropdown-spacing-x: 15px;
$navbar-dropdown-spacing-y: 5px;
$navbar-dropdown-padding-x: 10px;;
$navbar-dropdown-padding-y: 7px;
//Nav
$nav-icon-size: 1em;

// Sidebar
$sidebar-width: 50px;
$sidebar-padding-x: 0;
$sidebar-padding-y: 30px;
$sidebar-item-height: 52px;
$sidebar-item-width: 200px;
$sidebar-item-padding-x: 1.25rem;
$sidebar-item-padding-y: .7rem;

// TRANSITIONS SETTINGS
// --------------------------------------------------------

// Transition global options
$transition-speed: 0.3s;
$transition-fn: ease-in-out;

// ICON
$icon-spacing: 5px;
$menu-icon-size: 1rem;
$menu-icon-spacing: $navbar-spacing-y;//1rem;

//Placeholder
$placeholer-size: 75%;
//$placeholer-color: $body-color;

// CHIPS
$chip-bg-color: $gray-300;
$chip-border-color: $gray-600;
$chip-border-radius: 16px;
$chip-margin: 5px !default;
$chip-height: 32px;
$chip-padding-y: 0;
$chip-padding-x: 12px;

//List
$list-icon-size: $nav-icon-size !important;
$list-icon-spacing: $navbar-spacing-y;

// List group
$list-group-border-color:           $secondary;