/*!
 *   sf-parc
 *   Author: Antoine Bouët
 *   Version: 1.0.0
 */
@import 'override';

// Bootstrap
//--------------------------------------------------------
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Fontawesome
//--------------------------------------------------------
@import "fontawesome/variables";

// sf-parc
//--------------------------------------------------------
@import 'variables';
@import 'mixin';

@each $color, $hex in $colors {
    .#{$color} {
        $darken-color: darken($hex, $darken-rate);
        header{
            &.page{
                background-color: $hex;
                border-bottom-color: $darken-color;
                .navbar-brand{
                    background-color: $darken-color;
                    color: color-yiq($hex);
                }
                .sidebar-toggle {
                    color: color-yiq($hex);
                    &:hover {
                        background-color: $darken-color;
                        color: $gray-200;
                    }
                }
            }
        }
        footer{
            &.page{
                border-top-color: $darken-color;
            }
        }
        .sidebar{ 
            @include menu-item-active($hex);
        }
        img.profile, svg.profile{
            border-color: $hex;
        }
        &.nav-tabs-custom {
            & > .nav-tabs {
                & > .nav-item {
                    & > .nav-link{
                        &:hover:not(.active) {
                            background-color: lighten($hex, 40%);
                        }
                        &.active{
                            border-top-color: $hex;
                        }
                    }
                }
                .nav-header {
                    color: $hex;
                }
            }
        }
        &.nav-pills-custom {
            & > .nav-pills {
                & > .nav-item {
                    & > .nav-link{
                        &.active, &:hover {
                            background-color: $hex;
                        }
                    }
                }
            }
        }
    }
    .badge-outline-#{$color} {
        border: 1px solid $hex;
        color: $hex;
    }
    .#{$color} .active{
        .badge-outline-#{$color} {
            border: 1px solid darken($hex, $darken-rate);
            color: darken($hex, $darken-rate);
        }
    }
}
@each $color, $hex in $theme-colors {
    .badge-outline-#{$color} {
        border: 1px solid $hex;
        color: $hex;
    }
    @if map-has-key($theme-colors-matching, $color){
        $match: map-get($theme-colors-matching, $color);
        .#{$match} .active{
            .badge-outline-#{$color} {
                border: 1px solid darken($hex, $darken-rate);
                color: darken($hex, $darken-rate);
            }
        }        
    }
}

body.bg-dark, body.bg-light{
    background-color: $body-bg !important;
}
.bg-dark{
    .nav-sidebar {
        background-color: $dark;
        box-shadow: inset -1px 0 0 $dark;
        color: $yiq-text-light !important;
        .sidebar > .nav > .nav-item > .nav-link{
            color: $yiq-text-light !important;
        }
    }
    .sidebar{
        & > .menu{
            & > .menu-item{
                &:hover:not(.active){
                    //& > .nav-link {
                    background-color: rgba($yiq-text-light,0.6);
                    //}
                }
            }
        }
    }
}
.bg-light{
    .nav-sidebar {
        background-color: $light;
        box-shadow: inset -1px 0 0 $light;
        color: $yiq-text-light !important;
        .sidebar > .nav > .nav-item > .nav-link{
            color: $yiq-text-light !important;
        }
    }
    .sidebar{
        & > .nav{
            & > .nav-item{
                &:hover:not(.active){
                    & > .nav-link {
                        background-color: rgba($yiq-text-dark,0.6);
                    }
                }
            }
        }
    }
}
svg {
    fill: currentColor;
}