#msgTabs{
	width:65%;
}

.topItem
{
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background-image: url("../images/arrow-up-title.jpg");
  background-position:right;
  background-repeat:no-repeat;
  border: none;
  width: 100%;
  height: 25px;
  color: #215dc6;
  cursor:pointer;
  text-indent:10px;
}

.topItemOver
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("../images/arrow-up-title-on.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #428eff;
  cursor:pointer;
}

.topItemClose
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("../images/arrow-down-title.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #215dc6;
  cursor:pointer;
}


.topItemCloseOver
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("../images/arrow-down-title-on.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #428eff;
  cursor:pointer;
}



.dropMenu
{
  font: bold 11px tahoma,verdana,sans-serif;	
  background-color: #d6dff7;
  color: black;
  border: 1px solid #d6dff7;
  padding-top:5px;
  padding-bottom:5px;
  height: inherit;
}

.drop
{
   border-left:1px solid black;
   border-right:1px solid black;	
}



/*### CONTENT ###*/
#content .conteneurListe {
/*	width: 70%;*/
	width: 100%;
	height: inherit;
	overflow-y: auto;
	overflow-x: auto;
	position: relative;
	height: 360px;
}

#content #btnSupListe {
	border: none;
	padding-left: 5px;
}
/*### INFO ###*/
#info .conteneurListe {
	width: 65%;
	height: 135px;
	overflow-y: auto;
	overflow-x: hidden;
}

/*### FILTRE ###*/
/* div */
#div_filtre {
/*	width: 70%;*/
	width: 100%;
	/*height: 380px;*/
}

/* Tableau logFiltre */
#logFiltre {
	background-color: #E1E5CC;
}

#logFiltre #btnSubmit {
	border: none;
}

/*### FILTRE SUPPLEMENTAIRE ###*/
/* div */
#div_filtreSup {
/*	position: relative;
	float: right;
	right: 10px;
	width: 30%;
	height: 200px;
	z-index: 5;
	margin: 0px;*/
}

/* Tableau logFiltreSup */
#logFiltreSup {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
	border-spacing: 0px;
}

#logFiltreSup thead td {
	background-image:
		url(../images/filtresupTab.gif);
	background-repeat: no-repeat;
	height: 25px;
}

#logFiltreSup tbody td {
	background-color: #E1E5CC;
	padding-left: 5px;
	padding-top: 10px;
	color: Gray;
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
	vertical-align: top;
	height: 5px;
	border-left: 1px solid gray;
	border-right: 3px solid gray;
}

#logFiltreSup tfoot td {
	background-color: #E1E5CC;
	color: navy;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
	vertical-align: bottom;
	border-left: 1px solid gray;
	border-bottom: 3px solid gray;
	border-right: 3px solid gray;
	text-align: center;
}

#logFiltreSup tfoot input {
	border: none;
}

#logFiltreSup tfoot img {
	float: right;
	position: relative;
	bottom: -3px;
	right: -3px;
}

#logFiltreSup table.filtre td {
	border: 0px none;
	padding: 0px;
}

/*### INFO SUPPLEMENTAIRE ###*/
/* div */
#div_infoSup {
	position: relative;
	float: right;
	margin: 0px;
	top: 5px;
	right: 10px;
	width: 300px;
	height: 30px;
	z-index: 5;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-right: 3px solid gray;
	border-bottom: 3px solid gray;
}


/* Tableau logInfoSup */
#logInfoSup {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
	border-spacing: 0px;
}

#logInfoSup thead td {
	background-image:
		url(../images/infoSupTab.png);
	background-repeat: no-repeat;
	height: 25px;
	padding:5px;
	color:white;
	font-weight:bold;
	font-size:11px;
	vertical-align:middle;
}

#logInfoSup tbody td {
	background-color: silver;
	padding-left: 5px;
	padding-top: 10px;
	vertical-align: top;
	height: 5px;
	border-left: 1px solid gray;
	border-right: 3px solid gray;
}

#logInfoSup tfoot td {
	background-color: silver;
	color: navy;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
	vertical-align: bottom;
	border-left: 1px solid gray;
	border-bottom: 3px solid gray;
	border-right: 3px solid gray;
	text-align: center;
}

#logInfoSup tfoot img {
	float: right;
	position: relative;
	bottom: -3px;
	right: -3px;
}

/*### INFO MESSAGE ###*/
/* div */
#div_infoMessage {
	position: relative;
	float: right;
	top: -32px;
	right: 10px;
	width: 30%;
	height: 150px;
	z-index: 5;
	margin: 0px;
}

/* Tableau infoMessage */
#infoMessage {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
	border-spacing: 0px;
}

#infoMessage thead td {
	background-image: url(../images/messageTab.gif)
		;
	background-repeat: no-repeat;
	height: 25px;
}

#infoMessage tbody td{
	background-color: #96B1DA;
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 10px;
	vertical-align: top;
	height: 5px;
	border-left: 1px solid gray;
	border-right: 3px solid gray;
}

#infoMessage tfoot td {
	background-color: #96B1DA;
	color: navy;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
	vertical-align: bottom;
	border-left: 1px solid gray;
	border-bottom: 3px solid gray;
	border-right: 3px solid gray;
	text-align: center;
}

#infoMessage tfoot img {
	float: right;
	position: relative;
	bottom: -3px;
	right: -3px;
}

#infoMessage table.infoMessage td {
	border: 0px none;
	padding: 0px;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
}
#infoMessage table.actionMessage td {
	border: 0px none;
	padding: 0px;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
}
#infoMessage table.actionMessage input {
	border: 0px none;
}
#infoMessage table.actionMessage img {
	border: 0px none;
}

/*### ENTETE BLOC INFO ####*/
/* div */
#div_logEntete {
	width: 65%;
}

#div_logEntete table{
	width: 100%;
}