@mixin card {
    background-color: $white;
    border: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);
    padding: $card-spacer-y $card-spacer-x;
    position: relative;
    font-size: 1rem;
}