@mixin make-inner-wrapper() {
  width: 100%;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
  margin-right: auto;
  margin-left: auto;
}
@mixin before{
    font: {
        family: $fontawesone-font-family;
        //display: $fa-font-display;
        weight: 900;
    }
    padding-right: $icon-spacing;
}
@mixin after{
    font: {
        family: $fontawesone-font-family;
        weight: 900;
    }
    padding-left: $icon-spacing * 2;
}