@mixin menu-item-active($color, $light: lighten($color, 20%)) {
    .menu-item.active {
        box-shadow: inset 4px 0 0 $color;
        /*-o-border-image: -o-linear-gradient($color 10%,$light 59%);
        border-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color),color-stop(59%,$light));
        border-image: -webkit-linear-gradient($color 10%,$light 59%);
        border-image: linear-gradient($color 10%,$light 59%);
        border-image-slice: 1;
        border-style: solid;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left-width: 4px;*/
    }
}