@mixin title{
    font:{
        family: $headings-font-family;
        weight: $headings-font-weight;
    }
    text-transform: uppercase;
}
@mixin heading{
    color: $headings-color;
    font:{
        family: $headings-font-family;
        weight: $headings-font-weight;
    }
}
@mixin excerpt{
    color: $gray-600;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.2em
}