<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr'">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/img/favicon-16x16.png" sizes="16x16"/>
        <link rel="shortcut icon" href="/img/favicon-32x32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/svg+xml" href="/img/icon.svg"/>
        <title></title>
        <!-- jQuery 3.3.1 -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <!-- popper 1.14.7 (requis par Bootstrap) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- Boostrap 4.3.1 -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Bootbox 5.0.0 -->
        <script src="https://github.com/makeusabrew/bootbox/releases/download/v5.0.0/bootbox.all.min.js"></script>
        <!-- SVG framework -->
        <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
        <!-- Fontawesome 5.7.2 -->
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap.css') }}"></link>
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/style.css') }}"></link>
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/theme.css') }}"></link>
        <!-- FontAwesome 5.9.0 -->
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"></link>
        <!-- Polices -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /></link>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"/></link>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300" rel="stylesheet"/></link>
        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet"></link>
    </head>
    <body class="bg-dark green">
        {% block body %}{% endblock %}
        <div id="chargement">
            <div class="double-bounce">
                <div class="bounce-child double-bounce1"></div>
                <div class="bounce-child double-bounce2"></div>
            </div>
            <h2 class="mt-1" style="color: white">{{ 'loading.message'|trans }}</h2>
        </div>
        <script type="text/javascript">
$(document).ready(function () {
$('[data-toggle="tooltip"]').tooltip();
$('#chargement').hide();
});
        </script>
    </body>
</html>
