{% extends 'index.html.twig' %}
{% block content %}
    <!-- Content Header (Page header) -->
    {% set page = {'label': 'Widgets'|trans, 'desc': 'Preview page'|trans} %}
    {% include 'partials/page-header.html.twig' with {'header': page, 'breadcrumb': ['Home', 'Widgets']} %}
    <!-- Main content -->
    <section class="content">
        <div class="row pt-3">
            <h2 class="page-header">Cards</h2>
        </div>
        <div class="card-deck my-3">
            <div class="card info">
                <span class="card-icon bg-blue"><i class="far fa-envelope"></i></span>
                <div class="card-body">
                    <span class="card-text">Messages</span>
                    <span class="card-figure">1,410</span>
                </div>
            </div>
            <div class="card info">
                <span class="card-icon bg-green"><i class="far fa-flag"></i></i></span>
                <div class="card-body">
                    <span class="card-text">Bookmarks</span>
                    <span class="card-figure">410</span>
                </div>
            </div>
            <div class="card info">
                <span class="card-icon bg-orange"><i class="far fa-copy"></i></span>
                <div class="card-body">
                    <span class="card-text">Uploads</span>
                    <span class="card-figure">13,648</span>
                </div>
            </div>
            <div class="card info">
                <span class="card-icon bg-red"><i class="far fa-star"></i></span>
                <div class="card-body">
                    <span class="card-text">Likes</span>
                    <span class="card-figure">93,139</span>
                </div>
            </div>
        </div>
        <div class="card-deck my-3">
            <div class="card info bg-blue">
                <span class="card-icon"><i class="far fa-bookmark"></i></span>
                <div class="card-body">
                    <span class="card-text">Bookmarks</span>
                    <span class="card-figure">41,410</span>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="card-caption">
                        70% Increase in 30 Days
                    </span>
                </div>
            </div>
            <div class="card info bg-green">
                <span class="card-icon"><i class="far fa-thumbs-up"></i></span>
                <div class="card-body">
                    <span class="card-text">Likes</span>
                    <span class="card-figure">41,410</span>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="card-caption">
                        70% Increase in 30 Days
                    </span>
                </div>
            </div>
            <div class="card info bg-orange">
                <span class="card-icon"><i class="far fa-calendar-alt"></i></span>
                <div class="card-body">
                    <span class="card-text">Events</span>
                    <span class="card-figure">41,410</span>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="card-caption">
                        70% Increase in 30 Days
                    </span>
                </div>
            </div>
            <div class="card info bg-red">
                <span class="card-icon"><i class="fas fa-comments"></i></span>
                <div class="card-body">
                    <span class="card-text">Comments</span>
                    <span class="card-figure">41,410</span>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="card-caption">
                        70% Increase in 30 Days
                    </span>
                </div>
            </div>
        </div>
        <div class="card-deck my-3">
            <!-- light card -->
            <div class="card ligth bg-blue">
                <div class="card-body">
                    <h3 class="card-title">150</h3>
                    <p class="card-text">New Orders</p>
                    <i class="card-body-icon fa fa-shopping-cart"></i>
                </div>
                <footer class="card-footer">
                    <a href="#">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </footer>
            </div>
            <!-- light card -->
            <div class="card ligth bg-green">
                <div class="card-body">
                    <h3 class="card-title">53<sup style="font-size: 20px">%</sup></h3>
                    <p class="card-text">Bounce Rate</p>
                    <i class="card-body-icon fas fa-chart-bar"></i>
                </div>
                <footer class="card-footer">
                    <a href="#">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </footer>
            </div>
            <!-- light card -->
            <div class="card ligth bg-orange">
                <div class="card-body">
                    <h3 class="card-title">44</h3>
                    <p class="card-text">User Registrations</p>
                    <i class="card-body-icon fas fa-user-plus"></i>
                </div>
                <footer class="card-footer">
                    <a href="#">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </footer>
            </div>
            <!-- light card -->
            <div class="card ligth bg-red">
                <div class="card-body">
                    <h3 class="card-title">65</h3>
                    <p class="card-text">Unique Visitors</p>
                    <i class="card-body-icon fas fa-chart-pie"></i>
                </div>
                <footer class="card-footer">
                    <a href="#">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </footer>
            </div>
        </div>
        <div class="row pt-3">        
            <h2 class="page-header">List & Form</h2>
        </div>
        <div class="row pt-3">
            <section class="col-12 col-md-3 inner-wrapper liste">
                <div id="search-env" class="search">
                    <span class="fa fa-search"></span>
                    <input type="search" class="form-control" placeholder="rechercher">
                </div>
                <ul id="liste-env" class="list-group list-group-flush list-select green" type="search">
                    <li class="list-group-item flex-column align-items-start active">
                        <div class="d-flex w-100">
                            <span class="badge badge-outline-success align-self-center">tst</span>
                            <span class="flex-grow-1 ml-2 search-content libelle">1er élément</span>
                            <ul class="list-inline list-action align-self-center">
                                <li class="list-inline-item list-action-item">
                                    <a class="list-action-link remove" data-toggle="remove" title="Supprimer" url=#" data-target="env-empty.html" data-confirm="Voulez-vous supprimer l'environnement <strong>9AC</strong>?">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100">
                            <span class="badge badge-outline-success align-self-center">tst</span>
                            <span class="flex-grow-1 ml-2 search-content">2eme élément</span>
                            <ul class="list-inline list-action align-self-center">
                                <li class="list-inline-item list-action-item">
                                    <a class="list-action-link remove" data-toggle="remove" title="Supprimer" url="#" data-target="env-empty.html" data-confirm="Voulez-vous supprimer l'environnement <strong>9AC</strong>?">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100">
                            <span class="badge badge-outline-success align-self-center">tst</span>
                            <span class="flex-grow-1 ml-2 search-content">3eme élément</span>
                            <ul class="list-inline list-action align-self-center">
                                <li class="list-inline-item list-action-item">
                                    <a class="list-action-link remove" data-toggle="remove" title="Supprimer" url="#" data-target="env-empty.html" data-confirm="Voulez-vous supprimer l'environnement <strong>9AC</strong>?">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="col-12 col-md-4 pt-3 pt-md-0">
                <form class="needs-validation">
                    <div class="card card-border-top green">
                        <header class="card-header">
                            <i class="fas fa-server"></i>
                            Server
                        </header>
                        <div class="card-body">
                        </div>
                        <footer class="card-footer">
                            <div class="btn-group btn-toolbar" role="toolbar">
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                                    <button type="submit" class="btn">
                                        <i class="far fa-save"></i>
                                        <span class="toolbar-label">Save</span>
                                    </button>
                                    <button type="reset" class="btn">
                                        <i class="fas fa-undo"></i>
                                        <span class="toolbar-label">Cancel</span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </form>
            </section>
        </div>
        <div class="row pt-3">
            <h2 class="page-header">Tabs</h2>
        </div>
        <div class="row pt-3">
            <section class="col-12 col-md-4">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab_1" data-toggle="tab">Tab 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab_2" data-toggle="tab">Tab 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab_3" data-toggle="tab">Tab 3</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                Dropdown <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                <li class="dropdown-item"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                <li class="dropdown-item"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ml-auto">
                            <a href="#" class="align-self-center text-muted">
                                <i class="nav-icon fas fa-cog"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <b>How to use:</b>
                            <p>Exactly like the original bootstrap tabs except you should use
                                the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                            A wonderful serenity has taken possession of my entire soul,
                            like these sweet mornings of spring which I enjoy with my whole heart.
                            I am alone, and feel the charm of existence in this spot,
                            which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
                            that I neglect my talents. I should be incapable of drawing a single stroke
                            at the present moment; and yet I feel that I never was a greater artist than now.
                        </div>
                        <div class="tab-pane" id="tab_2">
                            The European languages are members of the same family. Their separate existence is a myth.
                            For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                            in their grammar, their pronunciation and their most common words. Everyone realizes why a
                            new common language would be desirable: one could refuse to pay expensive translators. To
                            achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                            words. If several languages coalesce, the grammar of the resulting language is more simple
                            and regular than that of the individual languages.
                        </div>
                        <div class="tab-pane" id="tab_3">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-12 col-md-4">
                <div class="nav-tabs-custom orange">
                    <ul class="nav nav-tabs justify-content-end">
                        <li class="nav-item nav-header mr-auto">
                            <i class="nav-icon fas fa-th"></i>
                            <span class="nav-label">Custom Tabs</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2-1" data-toggle="tab">Tab 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-2-2" data-toggle="tab">Tab 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2-3" data-toggle="tab">Tab 3</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="tab-2-1">
                            <b>How to use:</b>
                            <p>Exactly like the original bootstrap tabs except you should use
                                the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                            A wonderful serenity has taken possession of my entire soul,
                            like these sweet mornings of spring which I enjoy with my whole heart.
                            I am alone, and feel the charm of existence in this spot,
                            which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
                            that I neglect my talents. I should be incapable of drawing a single stroke
                            at the present moment; and yet I feel that I never was a greater artist than now.
                        </div>
                        <div class="tab-pane active" id="tab-2-2">
                            The European languages are members of the same family. Their separate existence is a myth.
                            For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                            in their grammar, their pronunciation and their most common words. Everyone realizes why a
                            new common language would be desirable: one could refuse to pay expensive translators. To
                            achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                            words. If several languages coalesce, the grammar of the resulting language is more simple
                            and regular than that of the individual languages.
                        </div>
                        <div class="tab-pane" id="tab-2-3">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-12 col-md-4">
                <div class="nav-pills-custom red">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-pills-1" data-toggle="tab">Tab 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-pills-2" data-toggle="tab">Tab 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-pills-3" data-toggle="tab">Tab 3</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-pills-1">
                            <b>How to use:</b>
                            <p>Exactly like the original bootstrap tabs except you should use
                                the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                            A wonderful serenity has taken possession of my entire soul,
                            like these sweet mornings of spring which I enjoy with my whole heart.
                            I am alone, and feel the charm of existence in this spot,
                            which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
                            that I neglect my talents. I should be incapable of drawing a single stroke
                            at the present moment; and yet I feel that I never was a greater artist than now.
                        </div>
                        <div class="tab-pane" id="tab-pills-2">
                            The European languages are members of the same family. Their separate existence is a myth.
                            For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                            in their grammar, their pronunciation and their most common words. Everyone realizes why a
                            new common language would be desirable: one could refuse to pay expensive translators. To
                            achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                            words. If several languages coalesce, the grammar of the resulting language is more simple
                            and regular than that of the individual languages.
                        </div>
                        <div class="tab-pane" id="tab-pills-3">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}